$ashLight: #F7F8FA;
$blueLight: #1875F0;
$white: #FFFFFF;
$ashDark: #EAEEF0;
$blackLight: #787C90;
$blackMedium: #414042;
$blackDark: #262626;



*{
    box-sizing: border-box;
}

body {
    font-size: .875rem;
    background: #F7F8FA;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}


/*
 * Content
 */

[role="main"] {
  padding-top: 100px; /* Space for fixed navbar */
}

/* Navbar Starts Here */

.navbar{
    padding: 2px 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);

}

.mr-right li{
    margin: 10px 20px -3px 0px;
}

.form{
    display: inline-block;
}

.navbar .logo{
    margin-right: 2.7em;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -1.6875px;
    color: #1875F0;
}

.search-nav-icon{
    margin-top: -3px;
    margin-right: 2px;
    width: 14px;
}

input[type="text"]{
    background: transparent;
    border: none;
    font-size: 0.95rem;
    color: #000;
    padding: 5px;
    font-weight: 200;
}
input:focus, textarea:focus{
    outline: none;
}

.notif-nav-icon{
    margin-top: -3px;
    margin-right: -23px;
    width: 22px;
}
.mr-right a .circle{
    display: inline-block;
    background-color: #1875F0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 4px;
    left: 16px;
}
.mr-right li #notification{
    color: #fff !important;
}

.user-info{
    position: absolute;
    margin: -10px;
    padding: 0;
    display: inline-block;
}
.hello{
    position: absolute;
    top: 2px;
    left: 8px;
    font-size: 0.7rem;
}
.user-name{
    position: relative;
    bottom: -3px;
    font-size: 0.9rem;
    font-weight: 500;
}

.mr-right a .user-img{
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: -5px;
}
.user-img img{
    width: 35px;
    height: 35px;
}

/* Navbar Ends Here */


/*Side Menu Starts Here*/

.sidenav {
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 90px;
    background: #ffffff;
    transition: 0.1s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 36px;
    padding-top: 33px;
    padding-right: 6px;
    display: none;
}
.sidenav .closebtn:hover{
    padding: 0px;
    margin: 33px 6px 0px 30px;
    background-color: #fff;
}

.open-sidenav{
    position: sticky;
    color: #1875F0;
    font-size: 25px;
    z-index: 2000;
    top: 3px;
    left: 10px;
    margin-top: -57px;
    margin-bottom: 20px;
    display: none;
}

.tab-sect{
    margin-bottom: 15px;
}
.tab-sect .head-tag{
    padding-left: 15px;
    font-size: 0.9rem;
    color: #647787;
}
.tab-sect p{
    margin-bottom: 10px;
}
.tab-sect hr, .sidenav hr{
    margin-top: 0px;
    margin-bottom: 15px;
    height: 2px;
    background-color: #647787;
    opacity: 0.2;
}

.sidenav .veri-tra-btn{
    position: relative;
    background: #27AE60;
    width: 80%;
    left: 20px;
    margin-bottom: 10px;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 0.3px;
    transition: all 0.2s ease-in-out;
}
.sidenav .veri-tra-btn:hover{
    background: #27AE60;
    padding: 10px 10px 10px 10px;
    font-weight: 700;
    letter-spacing: 0.3px;
    transition: all 0.2s ease-in-out;
}

.sidenav a{
    display: block;
    color: #647787;
    text-decoration: none;
    padding: 10px 15px;
    padding-right: 0px;
    font-size: 0.845rem;
    transition: all 0.3s ease-in-out;
}
.sidenav a.active{
    background: rgb(24,117,240, 0.1);
    border-left: 4px solid #1875F0;
    padding: 10px 30px 10px 10px;
}
.sidenav a.active:hover{
    padding: 10px 30px 10px 10px;
}
.sidenav a:hover{
    background: rgb(24,117,240, 0.1);
    transition: all 0.3s ease-in-out;
    padding: 10px 10px 10px 20px;
}

.sidenav a img{
    margin-top: -5px;
    margin-right: 10px;
    width: 24px;
}
.sidenav a .pen-ord, .sidenav a .recon-ord{
    width: 29px;
    height: 26px;
    margin-right: 5px;
}

.sidenav .notif,.sidenav .tab-resp,.sidenav .log-out,.sidenav hr{
    display: none;
}

/*Side Menu Ends Here*/



/*Dashboard Starts Here*/

.main{
    margin-left: 210px; /* Same as the width of the sidenav */
    padding: 0px 10px;
    padding-top: 60px;
    padding-left: 25px;
    width: 83%;
}

.open-sidenav{
    position: absolute;
    color: #1875F0;
    font-size: 25px;
    z-index: 1;
}

/*Section 1 Starts Here*/

.orders-head{
    padding-top: 20px;
}

/*Section 1 Ends Here*/

/*Section 3 Starts Here*/
.paym-sub-line{
    margin-top: 18px;
    margin-bottom: 10px;
}
.paym-sub{
    display: flex;
    padding: 0;
}

.show-entries span{
    display: inline-flex;
    font-weight: 500;
    font-size: 0.9em;
}

.box, .box-drop{
  position: relative;
}

.box select {
    background-color: transparent;
    color: #787878;
    padding: 0px;
    padding-bottom: 2px;
    border: none;
    border-bottom: 1px solid #787878;
    width: 100px;
    font-size: 1em;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.box .fa-chevron-down{
    position: relative;
    z-index: -1;
    margin-left: -20px;
    color: #CCCFD4;
}

.box-drop select{
    background-color: transparent;
    border: none;
    margin: 0px 5px;
    margin-top: -1px;
    margin-right: -8px;
    color: #1875F0;
    font-size: 1.1em;
    font-weight: 500;
    width: 35px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.box-drop .fa-chevron-down{
    position: relative;
    z-index: -1;
    margin-left: -12px;
    margin-right: 5px;
    color: #CCCFD4;
    font-size: 0.9em;
}

.box-drop option{
    color: 4c4c4c !important;
}

.show-entries .out-of{
    font-size: 1em;
}

.show-entries .show-out-of{
    margin: 0;
    padding-left: 3px;
    padding-right: 4px;
}
.show-entries .dropdown button:hover{
    background-color: #F7F8FA;
}

.sear-pay{
    padding: 0;
    margin-top: -5px;
}
.sear-pay-icon{
    width: 0.9em;
}
.sear-pay input{
    font-size: 0.9em;
    padding-bottom: 1px;
    width: 70%;
    border-bottom: 1px solid #787878;
}

/* For Table Filter Tabs Starts Here */
/* The "show" class is added to the filtered elements */
.container {
    overflow: hidden;
}

.show {
    display: block;
}

#myBtnContainer{
    margin-top: -10px;
}
#myBtnContainer span{
    font-size: 0.8em;
    font-weight: 500;
}
/* Style the buttons */
.btn {
  border: 1px solid #CED0DA;
  border-left: 0;
  border-radius: 0;
  margin-right: -5px;
  outline: none;
  padding: 5px 10px;
  background-color: transparent;
  cursor: pointer;
  font-size: 0.9em;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #1875F0;
  color: white;
  border: 1px solid #1875F0;
}

/* For Table Filter Tabs Stops Here */

.table thead{
    background-color: #EAEEF0;
}
.table thead tr th{
    padding: 5px 12px;
    color: #7F8FA4;
    font-weight: 500;
}

.table tbody{
    background: #FFFFFF;
}
.table tbody tr{
    border-color: #CCCFD4;
}

.table tbody tr th{
    padding: 18px;
}
.table tbody tr td{
    padding: 18px 12px;
}

.table tbody tr th .user-id{
    margin-right: 9px;
    border: 1px solid #7F8FA4;
    color: #fff;
    font-size: 0.8rem;
    padding: 8px 6px;
    border-radius: 50%;
    background: #7F8FA4;
}

.accordion-toggle:after{
    position: absolute;
    display: inline-block;
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	height: 0.85em;
    width: 0.85em;
    right: 53.5px;
    color: #CCCFD4;
    margin-top: -13.5px;
	transform: rotate(-45deg);
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    cursor: pointer;
}
.accordion-toggle.collapsed:after{
    margin-top: -19.5px;
    transform: rotate(135deg);
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}


.hiddenRow {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background: #FAFBFC;
}
.accordian-body .drop-down-det{
    margin: 0;
    margin-left: 50px;
    display: inline-flex;
}
.inner{
    display: inline;
    padding: 0px 30px 0px 0px;
    margin-right: 30px;
    border-right: 1px solid #CCCFD4;
    color: #414042;
    font-weight: 500;
}
.end{
    border-right: none;
}

.inner .first-tag{
    margin-top: 12px;
    margin-bottom: 3px;
    color: #7F8FA4;
    font-weight: 500;
}

.inner .payer-name{
    margin: 0;
    margin-bottom: 3px;
}
.inner .payer-num{
    margin: 0;
    margin-bottom: 14px;
    color: #1875F0;
    font-weight: 500;
}
.inner .payer-num i{
    color: #1875F0;
    margin-right: 5px;
}

.inner .order-loca-det{
    margin: 0;
    width: 250px;
}

td .reconciled, td .pending, td .un-reconciled{
    margin-top: -5px;
    margin-bottom: -5px;
    width: 55%;
    padding: 5px 3px;
    padding-top: 4px;
    border: 1px solid #CCCFD4;
    border-radius: 30px;
    color: #27AE60;
    font-weight: 400;
}
.reconciled .fas, .pending .fas, .un-reconciled .fas{
    font-size: 0.65em;
    padding-right: 2px;
    padding-left: 3px;
    padding-top: 0;
    padding-bottom: 0;
    color: #27AE60;
}

td .pending{
    color: #EBC315;
}
.pending .fas{
    color: #EBC315;
}

td .un-reconciled{
    color: #7F8FA4;
}
.un-reconciled .fas{
    color: #7F8FA4;
}

.tab-footer{
    display: block;
}
.tab-footer .left{
    float: left;
}
.tab-footer .right{
    float: right;
}

/*Section 3 Ends Here*/
/*Dashboard Ends Here*/




/* Responsive Page Starts Here*/

@media (min-width: 1351px) and (max-width: 1450px){
    .show-entries .out-of{
        width: 3em;
    }

    .accordion-toggle:after{
        right: 65.5px;
    }
}


@media (min-width: 1256px) and (max-width: 1350px){
    .show-entries .out-of{
        width: 3em;
    }

    .accordion-toggle:after{
        right: 50.5px;
    }
}

@media (min-width: 1181px) and (max-width: 1255px) {
    
    .show-entries .out-of{
        width: 3em;
    }
    
    #myBtnContainer{
        margin-left: -50px;
    }

    .accordion-toggle:after{
        right: 38.5px;
    }

    td .reconciled, td .pending, td .un-reconciled{
        width: 70%;
        font-size: 0.95em;
    }
    .reconciled .fas, .pending .fas, .un-reconciled .fas{
        font-size: 0.55em;
    }
    
}


@media (min-width: 1046px) and (max-width: 1180px) {
    .show-entries .out-of{
        width: 3em;
    }
    
    #myBtnContainer{
        margin-left: -50px;
    }
    .accordion-toggle:after{
        right: 26.5px;
    }
    
    .table{
        width: 110%;
    }
    
}

@media (min-width: 992px) and (max-width: 1045px){
    .show-entries .out-of{
        width: 3em;
    }
    
    .paym-sub{
        display: block;
        font-size: 1.2em;
    }
    
    .sear-pay{
        margin-top: 5px;
        margin-left: 15px;
    }
    .sear-pay-icon{
        width: 0.9em;
    }
    
    .sear-pay input{
        width: 89%;
    }
    
    #myBtnContainer{
        margin-top: 20px;
        margin-bottom: 15px;
        margin-left: 0px;
        width: 200%;
    }
    
    .table{
        width: 110%;
    }
    
    .accordion-toggle:after{
        right: 0px;
    }
    
}


@media (min-width: 953px) and (max-width: 992px){
    .show-entries .out-of{
        width: 3em;
    }
    
    .paym-sub{
        display: block;
        font-size: 1.2em;
    }
    
    .sear-pay{
        margin-top: 5px;
        margin-left: 15px;
    }
    .sear-pay-icon{
        width: 0.9em;
    }
    
    .sear-pay input{
        width: 89%;
    }
    
    #myBtnContainer{
        margin-top: 20px;
        margin-bottom: 15px;
        margin-left: 0px;
        width: 200%;
    }
    
    .table{
        width: 115%;
    }
    
    .accordion-toggle:after{
        right: 0px;
    }
    
}


@media (min-width: 901px) and (max-width: 952px){
    .show-entries .out-of{
        width: 3em;
    }
    
    .paym-sub{
        display: block;
        font-size: 1.2em;
    }
    
    .sear-pay{
        margin-top: 5px;
        margin-left: 15px;
    }
    .sear-pay-icon{
        width: 0.9em;
    }
    
    .sear-pay input{
        width: 89%;
    }
    
    #myBtnContainer{
        margin-top: 20px;
        margin-bottom: 15px;
        margin-left: 0px;
        width: 200%;
    }
    
    .table{
        width: 125%;
    }
    
    .accordion-toggle:after{
        right: 0px;
    }
    
}

@media screen and (max-width: 899px){
    .show-entries .out-of{
        width: 3em;
    }
    
    .paym-sub{
        display: block;
        font-size: 1.2em;
    }
    
    .sear-pay{
        margin-top: 5px;
        margin-left: 15px;
    }
    .sear-pay-icon{
        width: 0.9em;
    }
    
    .sear-pay input{
        width: 89%;
    }
    
    #myBtnContainer{
        margin-top: 20px;
        margin-bottom: 15px;
        margin-left: 0px;
        width: 200%;
    }
    
    .table{
        width: 140%;
    }
    
    .accordion-toggle:after{
        right: 0px;
    }
    
}

@media (min-width: 769px) and (max-width: 799px){
    .table{
        width: 145%;
    }
    
    .accordion-toggle:after{
        right: 0px;
    }   
}


@media screen and (max-width: 768px){
    
    .navbar-toggler{
        display: none;
    }
    
    .navbar .logo{
        margin-left: 30px;
    }
    
    .navbar-nav{
        display: none;
    }
    
    .sidenav{
        width: 0px;
        padding-top: 75px;
    }
    .sidenav a:hover{
        padding: 10px 0px 10px 15px;
    }
    
    /* Position and style the close button (top right corner) */
    .sidenav .closebtn{
        display: block;
    }
    .sidenav .closebtn:hover{
        margin: 33px 6px 0px 30px;
    }

    .open-sidenav{
        position: sticky;
        top: 5.5px;
        font-size: 1.7em;
        z-index: 2000;
        display: block;
        cursor: pointer;
        color: #647787;
        width: 23px;
    }
    
    .sidenav .veri-tra-btn{
        left: 10px;
    }
    
    .sidenav .notif,.sidenav .tab-resp,.sidenav .log-out,.sidenav hr{
        display: block;
    }
    
    .main{
        margin-left: -12px; /* Same as the width of the sidenav */
        width: 100%;
    }
    
    .table{
        width: 110%;
    }

    .accordion-toggle:after{
        right: 45.5px;
    }
    .accordion-toggle.collapsed:after{
        margin-top: -17.5px;
    }

    td .reconciled, td .pending, td .un-reconciled{
        width: 70%;
        font-size: 0.95em;
    }
    .reconciled .fas, .pending .fas, .un-reconciled .fas{
        font-size: 0.55em;
    }
}


@media screen and (max-width: 700px){
    .table{
        width: 130%;
    }   
}

@media screen and (max-width: 600px){
    .table{
        width: 150%;
    }   
}

@media screen and (max-width: 500px){
    .table{
        width: 190%;
    }
    .tab-footer .right{
        float: left;
        margin-top: 20px;
    }
}

@media screen and (max-width: 400px){
    .table{
        width: 260%;
    }
    .tab-footer .right{
        float: left;
        margin-top: 20px;
    }
    .sear-pay input{
        width: 80%;
    }
    #myBtnContainer{
        margin-top: 15px;
        margin-bottom: 5px;
        margin-left: 0px;
        width: 70%;
    }
}


/* Responsive Page Endss Here*/