body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}


/*
 * Content
 */

[role="main"] {
  padding-top: 60px; /* Space for fixed navbar */
}



/*
 * Navbar
 */

.navbar{
    padding: 2px 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);

}

.mr-right li{
    margin: 10px 20px -3px 0px;
}

.form{
    display: inline-block;
}

.navbar .logo{
    margin-right: 2.7em;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -1.6875px;
    color: #1875F0;
}

.search-nav-icon{
    margin-top: -3px;
    margin-right: 2px;
    width: 14px;
}

input[type="text"]{
    background: transparent;
    border: none;
    font-size: 0.95rem;
    color: #000;
    padding: 5px;
    font-weight: 200;
}
input:focus, textarea:focus{
    outline: none;
}

.notif-nav-icon{
    margin-top: -3px;
    margin-right: -23px;
    width: 22px;
}
.mr-right a .circle{
    display: inline-block;
    background-color: #1875F0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 4px;
    left: 16px;
}
.mr-right li #notification{
    color: #fff !important;
}

.user-info{
    position: absolute;
    margin: -10px;
    padding: 0;
    display: inline-block;
}
.hello{
    position: absolute;
    top: 2px;
    left: 8px;
    font-size: 0.7rem;
}
.user-name{
    position: relative;
    bottom: -3px;
    font-size: 0.9rem;
    font-weight: 500;
}

.mr-right a .user-img{
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: -5px;
}
.user-img img{
    width: 35px;
    height: 35px;
}



/*Side Menu Starts Here*/

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

#sideMenu{
    position: sticky;
    background: #ffffff;
    width: 100%;
    height: 1300%;
    position: absolute;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    padding-top: 120px;
}

.tab-sect{
    margin-bottom: 15px;
}
.tab-sect .head-tag{
    padding-left: 15px;
    font-size: 0.9rem;
    color: #647787;
}
.tab-sect p{
    margin-bottom: 10px;
}

#sideMenu a{
    display: block;
    color: #647787;
    text-decoration: none;
    padding: 10px 15px;
    padding-right: 0px;
    font-size: 0.85rem;
}
#sideMenu a.active{
    background: rgb(24,117,240, 0.1);
    border-left: 4px solid #1875F0;
    padding: 10px 30px 10px 10px;
}
#sideMenu a.active:hover{
    padding: 10px 30px 10px 10px;
}
#sideMenu a:hover{
    background: rgb(24,117,240, 0.1);
    transition: all 0.3s ease-in-out;
    padding: 10px 30px 10px 20px;
}

#sideMenu a img{
    margin-top: -5px;
    margin-right: 10px;
    width: 20px;
}


/*Side Menu Ends Here*/


.col-md-9{
    background-color: #F7F8FA;
}