*{
    box-sizing: border-box;
}

*:focus {
    outline:none !important
}

body {
    font-size: .875rem;
    background: #E5E5E5;
}



/* Navbar Starts Here */

.navbar{
    padding: 2px 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);

}

.mr-right li{
    margin: 10px 20px -3px 0px;
}

.form{
    display: inline-block;
}

.navbar .logo{
    margin-right: 2.7em;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -1.6875px;
    color: #1875F0;
}

.search-nav-icon{
    margin-top: -3px;
    margin-right: 2px;
    width: 14px;
}

input[type="text"]{
    background: transparent;
    border: none;
    font-size: 0.95rem;
    color: #000;
    padding: 5px;
    font-weight: 200;
}
input:focus, textarea:focus{
    outline: none;
}

.notif-nav-icon{
    margin-top: -3px;
    margin-right: -23px;
    width: 22px;
}
.mr-right a .circle{
    display: inline-block;
    background-color: #1875F0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 4px;
    left: 16px;
}
.mr-right li #notification{
    color: #fff !important;
}

.user-info{
    position: absolute;
    margin: -10px;
    padding: 0;
    display: inline-block;
}
.hello{
    position: absolute;
    top: 2px;
    left: 8px;
    font-size: 0.7rem;
}
.user-name{
    position: relative;
    bottom: -3px;
    font-size: 0.9rem;
    font-weight: 500;
}

.mr-right a .user-img{
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: -5px;
}
.user-img img{
    width: 35px;
    height: 35px;
}

/* Navbar Ends Here */


/*Section 1 Starts Here*/
.main{
    margin: 0;
    padding: 0;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    background: #FFF;
    width: 600px;
}

.main .transmonitor-logo{
    width: 213px;
    margin-left: 28%;
    margin-bottom: -40px;
}

.main .email-image{
    width: 100%;
}

.image-overlay{
    position: relative;
    background: #fff;
    border-radius: 4px;
    width: 70%;
    margin-top: -140px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 25px;
}

.welcome-text{
    margin: 0;
    color:  #1875F0;
    font-size: 1.6em;
    font-weight: 640;
    text-align: center;
    letter-spacing: 0.1px;
}
.tracking-money-text{
    margin-top: 2px;
    margin-bottom: 5px;
    color: #000;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.1px;
}

.acc-cre-success{
    color: #000;
    font-size: 1.4em;
    text-align: center;
    letter-spacing: 0.1px;
    font-weight: 600;
}

.main hr{
    width: 20%;
    height: 1px;
    background: #E0E0E0;
    margin-top: -5px;
}

.hi-smil{
    color: #333333;
    font-weight: 450;
    margin: 0;
    margin-left: 20px;
}

.your-acc-has{
    color: #797777;
    margin: 0;
    margin-left: 20px;
}

.complete-setup{
    background: #0678D4;
    border-radius: 3px;
    color: #fff;
    font-weight: 450;
    width: 40%;
    padding: 8px;
    border: none;
    cursor: pointer;
    margin: 0 30%;
    margin-bottom: 15px;
}

.icons{
    margin-top: 40px;
    border-top: 5px solid #1875F0;
    border-radius: 2px 2px 0px 0px;
    padding-top: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.icons i{
    margin: 0 15px;
    font-size: 1.3em;
    color: rgba(6, 120, 212, 0.7);
}

.copyright, .address{
    color: #797777;
    text-align: center;
    font-weight: 450;
    font-size: 0.95em;
}



/*Responsiveness Starts Here*/

@media screen and (min-width: 1209px){
    .main{
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 640px){
    .main{
        width: 500px;
    }
    
    .main .transmonitor-logo{
        width: 213px;
        margin-left: 24%;
    }
    
    .welcome-text{
        font-size: 1.5em;
    }
    .tracking-money-text{
        margin-top: 5px;
        margin-bottom: 0px;
        font-size: 1em;
    }
}

@media screen and (max-width: 545px){
    .main{
        width: 490px;
    }
    
    .main .transmonitor-logo{
        width: 213px;
        margin-left: 24%;
    }
    
    .image-overlay{
        margin-top: -130px;
        margin-bottom: 30px;
        padding: 10px;
    }

    .welcome-text{
        font-size: 1.4em;
    }
    .tracking-money-text{
        margin-top: 5px;
        margin-bottom: 0px;
        font-size: 1em;
    }
    
    .hi-smil{
        margin-left: 0px;
    }

    .your-acc-has{
        margin-left: 0px;
    }
}

@media screen and (max-width: 447px){
    .main{
        width: 410px;
    }
    
    .main .transmonitor-logo{
        width: 170px;
        margin-left: 20%;
    }
    
    .image-overlay{
        margin-top: -60px;
        margin-bottom: 30px;
        padding: 10px;
        width: 90%;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
    }

    .complete-setup{
        margin-left: 8%;
        width: 80%;
    }
}

@media screen and (max-width: 420px){
    .main{
        width: 390px;
    }
}

@media screen and (max-width: 400px){
    .main{
        width: 375px;
    }
}

@media screen and (max-width: 385px){
    .main{
        width: 360px;
    }
    
    .main .transmonitor-logo{
        margin-left: 18%;
    }
}

@media screen and (max-width: 370px){
    .main{
        width: 350px;
    }
}

@media screen and (max-width: 358px){
    .main{
        width: 330px;
    }
    
    .main .transmonitor-logo{
        margin-left: 15%;
    }
}

@media screen and (max-width: 345px){
    .main{
        width: 330px;
    }
}

@media screen and (max-width: 340px){
    .main{
        width: 330px;
    }
}

@media screen and (max-width: 335px){
    .main{
        width: 330px;
    }
}