@font-face{
    font-family: 'CircularStd-Book';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/CircularStd-Book.woff") format("opentype");
}

body{
    margin: 0;
    padding: 0;
    font-family: "CircularStd-Book", Arial, sans-serif;
    background: url(../images/signup-sign-in-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 0px 10px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.box h2{
    margin: 0 0 40px;
    padding: 0;
    font-size: 1rem;
    color: #1875F0;
    text-align: center;
}

.person-icon{
    position: absolute;
    top: -8px;
    left: 18px;
    width: 23px;
    height: 23px;
}
.shop-icon{
    position: absolute;
    top: -8px;
    left: 18px;
    width: 25px;
    height: 24px;
}
.location-icon{
    position: absolute;
    top: -8px;
    left: 21px;
    width: 19px;
    height: 25px;
}
.email-icon{
    position: absolute;
    top: -6px;
    left: 19px;
    width: 25px;
    height: 19px;
}
.password-icon{
    position: absolute;
    top: -8px;
    left: 22px;
    width: 19px;
    height: 25px;
}

.box input{
    padding: 0px 0;
    margin-bottom: 25px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    margin-left: 0px;
    padding-left: 60px;
    padding-bottom: 8px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 2px solid #999;
}

.box input[type="text"], .box input[type="password"]{
    color: #414042;
    background-color: transparent;
}

.box input.password{
    margin-bottom: -10px;
    border-bottom: none;
}

.box input[type="submit"] {
    border-bottom: none;
    cursor: pointer;
    width: 100%;
    padding: 1.3rem 2.5rem;
    font-weight: 500;
    color: #fff;
    background: #1860EC;
    border-radius: 6px;
}

.box .fields{
    background: #fff;
    padding: 0px 0px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-radius: 6px;
}

.box form div{
    position: relative;
}

.box form div label{
    position: absolute;
    top: -8px;
    left: 0;
    color: #999;
    transition: .5s;
    margin-left: 60px;
    pointer-events: none;
}

.box input:focus ~ label, .box input:valid ~ label{
    top: -15px;
    left: 0;
    color: #7F8FA4;
    font-size: 12px;
}

.box input:focus, .box input:valid{
    border-bottom: 2px solid #1860EC;
}

.box input.password:focus, .box input.password:valid{
    border-bottom: none;
}
.box input.submit:focus, .box input.submit:valid{
    border-bottom: none;
}