@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

body{
    background-image: url("../images/Main-Background.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: Noto Sans JP;
}

/* Navbar Starts*/
.navbar{
    margin-top: 30px;
}


.navbar-brand{
    margin-right: 2.7em;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -1.6875px;
}

.navbar .navbar-brand{
    color: #1875F0;
}

.nav-item{
    margin-top: 3px;
    font-size: 0.9em;
    
}

#nav-phone{
    color: #1875F0;
    font-weight: 500;
    cursor: text;
}

#nav-feat,#nav-pricing{
    color: #000;
    font-weight: 500;
}

#nav-signin{
    padding: 13px 65px;
    color: #ffffff;
    font-weight: bold;
    background-color: #00E59E;
    border-radius: 100px;
}

.nav-item{
    margin-right: 40px;
    font-weight: bold;
    color: #000;
}

.navbar .navbar-nav .nav-linked{
    color: #000;
    font-weight: 500;
}

/* Navbar Ends*/


/* Page Content Starts*/

.content{
    height: 100%;
    overflow: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 32px;
}


/* For Merchants Starts Here*/
.for-merch-img{
    position: absolute;
    width: 670px;
    height: 675px;
    left: 580px;
    top: 10.8px;
    z-index: -2;
    transform: rotate(-1.4deg);
    overflow: hidden;
    bottom: 0;
}

.for-merch-text{
    margin-top: 91px;
    text-align: left;
    font-weight: bold;
    font-size: 2.5em;
    color: #1860EC;
    margin-left: 10%;
}

.merch-det-text{
    color: #4F4F4F;
    text-align: left;
    font-size: 1em;
    margin-left: 10%;
}
/* For Merchants Ends Here*/


/* For Banks Starts Here*/
.for-banks-img{
    position: absolute;
    width: 730px;
    height: 690px;
    left: 510px;
    top: -10.8px;
    z-index: -2;
    transform: rotate(-1.4deg);
    overflow: hidden;
}

.for-banks-text{
    margin-top: 91px;
    text-align: left;
    font-weight: bold;
    font-size: 2.5em;
    color: #1860EC;
    margin-left: 10%;
}

.banks-det-text{
    color: #4F4F4F;
    text-align: left;
    font-size: 1em;
    margin-left: 10%;
}
/* For Banks Ends Here*/

.accordion{
    width: 35%;
    margin-top: -5px;
    margin-left: 9%;
}

.accordion .btn{
    width: 100%;
    text-align: left;
}

.accordion .btn:hover, .accordion .btn:focus{
    text-decoration: none;
}

.accordion .btn:after{
    content: "\2212";
    color: #1860EC;
    font-weight: bold;
    float: right;
    margin-top: -2px;
}
.accordion .btn.collapsed:after{
    content: "\002B";
}

.mb-0 button{
    color: #1860EC;
}

.card{
    border: none;
    background-color: transparent;
}

.card-header{
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}

.card-body{
    border-top: 1px solid #1860EC;
}

#pills-tab{
    margin-left: 50px;
    margin-right: 0px;
}

#pills-tab .nav-link.active{
    background: #175DE5;
    color: #fff;
}

.marchants-nav, .banks-nav{
    background: #FFFFFF;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    margin-top: 70px;
    padding: 15px 20px;
}

.marchants, .banks{
    display: flex;
}

.shop-icon img, .bank-icon img{
    max-width: 74px;
    max-height: 74px;
}

#pills-tab .nav-link.active .shop-icon .img1{
    content: url(../images/bank-wh-icon.png);
}

#pills-tab .nav-link .shop-icon .img1{
    content: url(../images/Bank-Icon.png);
}

#pills-tab .nav-link.active .bank-icon .img1{
    content: url(../images/bank-wh-icon.png);
}

#pills-tab .nav-link .bank-icon .img1{
    content: url(../images/Bank-Icon.png);
}

.marchants-text, .banks-text{
    margin-left: 20px;
}

.marchants-nav p,.banks-nav p{
    margin-top: 5px;
    margin-bottom: 0px;
    color: #1860EC;
}

#pills-tab .nav-link.active p{
    color: #fff;
}

.marchants-nav span, .banks-nav span{
    color: #4F4F4F;
    font-size: 0.85em;
    font-weight: 500;
}

#pills-tab .nav-link.active span{
    color: #fff;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #fff !important;
    background-color: #175DE5 !important;
}


/* Page Cntent Ends*/

/* Page Footer Starts */

.footer{
    background-color: #1875F0;
    padding: 1em 7em;
    font-size: 0.8em;
    color: #fff;
    width: 100%;
}

#left{
    text-align: left;
}
#left span{
    margin-right: 3em;
}
#left span a{
    color: #fff;
}

#right{
    text-align: right;
}
#right span{
    margin-left: 3em;
}
#right span a{
    color: #fff;
}


/* Page Footer Endss */




/* Responsive Page Starts Here*/


@media screen and (max-width: 1256px){
    
    .for-merch-img{
        width: 600px;
        height: 610px;
        left: 550px;
        top: 56.8px;
    }
    .for-banks-img{
        width: 600px;
        height: 610px;
        left: 550px;
        top: 56.8px;
    }
    
}

@media screen and (max-width: 1160px){
    
    .for-merch-img{
        width: 600px;
        height: 610px;
        left: 480px;
        top: 56.8px;
    }
    .for-banks-img{
        width: 600px;
        height: 610px;
        left: 480px;
        top: 56.8px;
    }
    
}

@media screen and (max-width: 1095px){
    
    .for-merch-img{
        width: 580px;
        height: 600px;
        left: 440px;
        top: 65.8px;
    }
    .for-banks-img{
        width: 580px;
        height: 600px;
        left: 440px;
        top: 65.8px;
    }
    
}


@media screen and (max-width: 1024px){
    
    .for-merch-img{
        width: 550px;
        height: 560px;
        left: 400px;
        top: 75.8px;
    }
    .for-banks-img{
        width: 550px;
        height: 560px;
        left: 400px;
        top: 75.8px;
    }
    
}

@media screen and (max-width: 960px){
    
    .for-merch-img{
        width: 480px;
        height: 490px;
        left: 400px;
        top: 70.8px;
    }
    .for-banks-img{
        width: 480px;
        height: 490px;
        left: 400px;
        top: 70.8px;
    }
    
}

@media screen and (max-width: 900px){
    
    .for-merch-text,.for-banks-text{
        margin-top: 50px;
        text-align: left;
        font-weight: bold;
        font-size: 2.5em;
        color: #1860EC;
        margin-left: 7%;
    }
    
    .merch-det-text,.banks-det-text{
        color: #4F4F4F;
        text-align: left;
        font-size: 1em;
        margin-left: 7%;
    }
    
    .for-merch-img{
        display: none;
    }
    .for-banks-img{
        display: none;
    }
    
    .accordion{
        width: 80%;
        margin-top: -5px;
        margin-left: 5%;
    }

    .accordion .btn:after{
        margin-top: 0px;
    }  
    
    #pills-tab{
        margin-left: 20px;
        margin-right: 0px;
    }

    .marchants-nav, .banks-nav{
        margin-top: 40px;
        padding: 10px 10px;
    }
    
    .shop-icon img, .bank-icon img{
        max-width: 54px;
        max-height: 54px;
    }

    .marchants-text, .banks-text{
        margin-left: 10px;
    }

    .marchants-nav p,.banks-nav p{
        margin-top: 0px;
    }

    .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
        color: #fff !important;
        background-color: #175DE5 !important;
    }
    
    .footer{
        position: absolute;
        bottom: 0;
        margin-bottom: 0px;
        padding: 1em 3em;
    }
    
    #right{
        margin-top: -0px;
    }
    
}


@media screen and (max-width: 768px){
    
    #right{
        margin-top: -18px;
    }
    
}

@media screen and (max-width: 753px){
    
    .footer{
        position: relative;
    }
    
    #right{
        margin-top: -18px;
    }
    
}


@media screen and (max-width: 1000px) {
    
    .navbar{
        margin-left: -10px;
        margin-right: -10px;
    }
    
}


@media screen and (max-width: 1200px) {
    
    .legal,.feed,.fees,.shop{
        display: none;
    }
    
}

@media screen and (max-width: 707px){
    
    .footer{
        position: relative;
        bottom: 0;
    }
    
}


/* Responsive Page Ends Here*/