@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

body{
    background-image: url("../images/Main-Background.png");
    background-size: cover;
    width: 100%;
    font-family: Noto Sans JP;
}

/* Navbar Starts*/
.navbar{
    margin-top: 30px;
}


.navbar-brand{
    margin-right: 2.7em;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -1.6875px;
}

.navbar .navbar-brand{
    color: #1875F0;
}

.nav-item{
    margin-top: 3px;
    font-size: 0.9em;
    
}

#nav-phone{
    color: #1875F0;
    font-weight: 500;
    cursor: text;
}

#nav-feat,#nav-pricing{
    color: #000;
    font-weight: 500;
}

#nav-signin{
    padding: 13px 65px;
    color: #ffffff;
    font-weight: bold;
    background-color: #00E59E;
    border-radius: 100px;
}

.nav-item{
    margin-right: 40px;
    font-weight: bold;
    color: #000;
}

.navbar .navbar-nav .nav-linked{
    color: #000;
    font-weight: 500;
}

/* Navbar Ends*/


/* Page Content Starts*/

.content{
    overflow: auto;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

/* Page First Slide Starts*/

.fast-bank-text{
    margin-top: 80px;
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    color: #1860EC;
}

.transfast-text{
    margin-top: 43px;
    color: #4F4F4F;
    text-align: center;
    font-size: 1em;
}



.marchants-nav, .banks-nav{
    background: #FFFFFF;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    margin-top: 70px;
    padding: 15px 20px;
}

.marchants, .banks{
    display: flex;
}

.shop-icon img, .bank-icon img{
    max-width: 74px;
    max-height: 74px;
}

.marchants-text, .banks-text{
    margin-left: 20px;
}

.marchants-nav p,.banks-nav p{
    margin-top: 5px;
    margin-bottom: 0px;
    color: #1860EC;
}

.marchants-nav span, .banks-nav span{
    color: #4F4F4F;
    font-size: 0.85em;
    font-weight: 500;
}


/* Page Content Ends*/

/* Page Footer Starts */

.footer{
    background-color: #1875F0;
    padding: 1.31em 7em;
    font-size: 0.8em;
    color: #fff;
    width: 100%;
}

#left{
    text-align: left;
}
#left span{
    margin-right: 3em;
}
#left span a{
    color: #fff;
}

#right{
    text-align: right;
}
#right span{
    margin-left: 3em;
}
#right span a{
    color: #fff;
}


/* Page Footer Endss */



/* Responsive Page Starts Here*/

@media screen and (max-width: 864px){
    
    .fast-bank-text{
        margin-top: 50px;
        font-size: 2em;
    }
    
    .transfast-text{
        font-size: 0.95em;
    }
    
    .marchants-nav, .banks-nav{
        margin-top: 30px;
    }

    .shop-icon img, .bank-icon img{
        max-width: 54px;
        max-height: 54px;
    }

    .marchants-text, .banks-text{
        margin-left: 20px;
    }

    .marchants-nav p,.banks-nav p{
        margin-top: 5px;
        margin-bottom: 0px;
        color: #1860EC;
    }

    .marchants-nav span, .banks-nav span{
        color: #4F4F4F;
        font-size: 0.79em;
        font-weight: 500;
    }
    
    .footer{
        margin-top: 51px;
        padding: 1em 3em;
    }
    
    #right{
        margin-top: -18.4px;
    }
    
}


@media screen and (max-width: 1200px) {
    
    .legal,.feed,.fees,.shop{
        display: none;
    }
    
}
/* Responsive Page Ends Here*/