@font-face{
    font-family: 'CircularStd-Book';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/CircularStd-Book.woff") format("opentype");
}

body{
    font-family: "CircularStd-Book", Arial, sans-serif;
    background-image: url("../images/Main-Background.png");
    background-size: cover;
    width: 100%;
    height: 100%;
}

/* Navbar Starts*/
.navbar{
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 70px;
}


.navbar-brand{
    margin-right: 2.7em;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -1.6875px;
}

.navbar .navbar-brand{
    color: #1875F0;
}

.nav-item{
    margin-top: 3px;
    font-size: 0.9em;
}

#nav-phone{
    color: #1875F0;
    font-weight: 500;
    cursor: text;
}
#nav-phone i{
    margin-right: 5px;
}

#nav-feat,#nav-pricing{
    color: #000;
    font-weight: 500;
}

#nav-signin{
    padding: 13px 65px;
    color: #ffffff;
    font-weight: bold;
    background-color: #00E59E;
    border-radius: 100px;
}

.nav-item{
    margin-right: 40px;
    font-weight: bold;
    color: #000;
}

.navbar .navbar-nav .nav-linked{
    color: #000;
    font-weight: 500;
}

/* Navbar Ends*/


/* Page Content Starts*/

.content{
    overflow: auto;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

/* Page First Slide Starts*/

.fast-bank-text{
    margin-top: 80px;
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    color: #1860EC;
}

.transfast-text{
    margin-top: 43px;
    color: #4F4F4F;
    text-align: center;
    font-size: 1em;
}

.justify-content-center{
    margin-left: 40px;
}

.marchants-nav, .banks-nav{
    background: #FFFFFF;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    margin-top: 70px;
    padding: 15px 20px;
}

.marchants, .banks{
    display: flex;
}

.shop-icon img, .bank-icon img{
    max-width: 74px;
    max-height: 74px;
}

.marchants-text, .banks-text{
    margin-left: 20px;
}

.marchants-nav p,.banks-nav p{
    margin-top: 5px;
    margin-bottom: 0px;
    color: #1860EC;
}

.marchants-nav span, .banks-nav span{
    color: #4F4F4F;
    font-size: 0.85em;
    font-weight: 500;
}


/* Page Content Ends*/

/* Page Footer Starts */

.footer{
    position: absolute;
    bottom: 0;
    background-color: #1875F0;
    padding: 1.31em 7em;
    font-size: 0.8em;
    color: #fff;
    width: 100%;
}

#left{
    text-align: left;
}
#left span{
    margin-right: 3em;
}
#left span a{
    color: #fff;
}

#right{
    text-align: right;
}
#right span{
    margin-left: 3em;
}
#right span a{
    color: #fff;
}


/* Page Footer Endss */



/* Responsive Page Starts Here*/

@media screen and (max-width: 1200px) {
    
    .legal,.feed,.fees,.shop{
        display: none;
    }
    
}

@media screen and (max-width: 1016px) {
    .navbar{
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 864px){
    
    .fast-bank-text{
        margin-top: 50px;
        font-size: 2em;
    }
    
    .transfast-text{
        font-size: 0.95em;
    }
    
    .marchants-nav, .banks-nav{
        margin-top: 30px;
    }

    .shop-icon img, .bank-icon img{
        max-width: 54px;
        max-height: 54px;
    }

    .marchants-text, .banks-text{
        margin-left: 20px;
    }

    .marchants-nav p,.banks-nav p{
        margin-top: 5px;
        margin-bottom: 0px;
        color: #1860EC;
    }

    .marchants-nav span, .banks-nav span{
        color: #4F4F4F;
        font-size: 0.79em;
        font-weight: 500;
    }
    
    .footer{
        position: absolute;
        bottom: 0;
        margin-bottom: 0px;
        padding: 1em 3em;
    }
    
    #right{
        margin-top: 0px;
    }
    
}

@media screen and (max-width: 767px){
    
    #right{
        margin-top: -19px !important;
    }
    
}

@media screen and (max-width: 635px){
    .navbar{
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 503px){
    
    .footer{
        position: relative;
        bottom: 0;
    }
    
}

@media screen and (max-width: 430px){
    .justify-content-center{
        margin-left: 5px !important;
    }

    .marchants-nav, .banks-nav{
        width: 110%;
    }
}

@media screen and (max-width: 426px){
    .navbar{
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .footer{
        position: relative;
        bottom: 0;
    }
    
    #left{
        text-align: center;
        margin-bottom: 40px;
        margin-left: 30px;
    }

    #right{
        text-align: center;
        margin-right: 50px;
    }
    #right span{
        margin-left: 3em;
    }
    #right span a{
        color: #fff;
    }
    
}

@media screen and (max-width: 400px){
    .justify-content-center{
        margin-left: 13px !important;
    }

    .marchants-nav, .banks-nav{
        width: 110%;
    }
}

@media screen and (max-width: 344px){
    .justify-content-center{
        margin-left: 3px !important;
    }
    
    .marchants-nav, .banks-nav{
        width: 116%;
    }
    
    .marchants, .banks{
        display: block;
    }

    .marchants-text, .banks-text{
        margin-top: 10px;
        margin-left: 0px;
    }
    
    #right{
        margin-right: 13%;
    }
}

@media screen and (max-width: 330px){
    .navbar-brand{
        font-size: 1.4em;
        margin-right: 0px;
    }
    
    #right {
        margin-right: 10%;
    }
}

@media screen and (max-width: 320px){
    #right {
        margin-right: 6%;
    }
}

@media screen and (max-width: 310px){
    #right {
        text-align: left;
        margin-right: 2%;
    }
}

/* Responsive Page Ends Here*/