$ashLight: #F7F8FA;
$blueLight: #1875F0;
$white: #FFFFFF;
$ashDark: #EAEEF0;
$blackLight: #787C90;
$blackMedium: #414042;
$blackDark: #262626;



*{
    box-sizing: border-box;
}

body {
    font-size: .875rem;
    background: #F7F8FA;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}


/*
 * Content
 */

[role="main"] {
  padding-top: 100px; /* Space for fixed navbar */
}

/* Navbar Starts Here */

.navbar{
    padding: 2px 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);

}

.mr-right li{
    margin: 10px 20px -3px 0px;
}

.form{
    display: inline-block;
}

.navbar .logo{
    margin-right: 2.7em;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -1.6875px;
    color: #1875F0;
}

.search-nav-icon{
    margin-top: -3px;
    margin-right: 2px;
    width: 14px;
}

input[type="text"]{
    background: transparent;
    border: none;
    font-size: 0.95rem;
    color: #000;
    padding: 5px;
    font-weight: 200;
}
input:focus, textarea:focus{
    outline: none;
}

.notif-nav-icon{
    margin-top: -3px;
    margin-right: -23px;
    width: 22px;
}
.mr-right a .circle{
    display: inline-block;
    background-color: #1875F0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 4px;
    left: 16px;
}
.mr-right li #notification{
    color: #fff !important;
}

.user-info{
    position: absolute;
    margin: -10px;
    padding: 0;
    display: inline-block;
}
.hello{
    position: absolute;
    top: 2px;
    left: 8px;
    font-size: 0.7rem;
}
.user-name{
    position: relative;
    bottom: -3px;
    font-size: 0.9rem;
    font-weight: 500;
}

.mr-right a .user-img{
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: -5px;
}
.user-img img{
    width: 35px;
    height: 35px;
}

/* Navbar Ends Here */


/*Side Menu Starts Here*/

.sidenav {
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 90px;
    background: #ffffff;
    transition: 0.1s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 36px;
    padding-top: 33px;
    padding-right: 6px;
    display: none;
}
.sidenav .closebtn:hover{
    padding: 0px;
    margin: 33px 6px 0px 30px;
    background-color: #fff;
}

.open-sidenav{
    position: sticky;
    color: #1875F0;
    font-size: 25px;
    z-index: 2000;
    top: 3px;
    left: 10px;
    margin-top: -57px;
    margin-bottom: 20px;
    display: none;
}

.tab-sect{
    margin-bottom: 15px;
}
.tab-sect .head-tag{
    padding-left: 15px;
    font-size: 0.9rem;
    color: #647787;
}
.tab-sect p{
    margin-bottom: 10px;
}
.tab-sect hr, .sidenav hr{
    margin-top: 0px;
    margin-bottom: 15px;
    height: 2px;
    background-color: #647787;
    opacity: 0.2;
}

.sidenav .veri-tra-btn{
    position: relative;
    background: #27AE60;
    width: 80%;
    left: 20px;
    margin-bottom: 10px;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 0.3px;
    transition: all 0.2s ease-in-out;
}
.sidenav .veri-tra-btn:hover{
    background: #27AE60;
    padding: 10px 10px 10px 10px;
    font-weight: 700;
    letter-spacing: 0.3px;
    transition: all 0.2s ease-in-out;
}

.sidenav a{
    display: block;
    color: #647787;
    text-decoration: none;
    padding: 10px 15px;
    padding-right: 0px;
    font-size: 0.845rem;
    transition: all 0.3s ease-in-out;
}
.sidenav a.active{
    background: rgb(24,117,240, 0.1);
    border-left: 4px solid #1875F0;
    padding: 10px 30px 10px 10px;
}
.sidenav a.active:hover{
    padding: 10px 30px 10px 10px;
}
.sidenav a:hover{
    background: rgb(24,117,240, 0.1);
    transition: all 0.3s ease-in-out;
    padding: 10px 10px 10px 20px;
}

.sidenav a img{
    margin-top: -5px;
    margin-right: 10px;
    width: 24px;
}
.sidenav a .pen-ord, .sidenav a .recon-ord{
    width: 29px;
    height: 26px;
    margin-right: 5px;
}

.sidenav .notif,.sidenav .tab-resp,.sidenav .log-out,.sidenav hr{
    display: none;
}

/*Side Menu Ends Here*/



/*Dashboard Starts Here*/

.main{
    margin-left: 210px; /* Same as the width of the sidenav */
    padding: 0px 10px;
    padding-top: 60px;
    padding-left: 25px;
    width: 83%;
}

.open-sidenav{
    position: absolute;
    color: #1875F0;
    font-size: 25px;
    z-index: 1;
}

/*Section 1 Starts Here*/

.orders-head{
    padding-top: 20px;
}

.paym-sub-line{
    margin-top: 18px;
    margin-bottom: 10px;
}
.paym-sub{
    display: flex;
    padding: 0;
}

.show-entries span{
    display: inline-flex;
    font-weight: 500;
    font-size: 0.9em;
}

.show-entries .dropdown{
    margin-right: 3px;
    margin-left: 0px;
    margin-top: -7px;
    font-size: 1.2em;
}

.show-entries .dropdown button{
    color: #1875F0;
    font-weight: 500;
    border: none;
}
.btn-primary {
  border: 1px solid #CED0DA;
  border-left: 0;
  border-radius: 0;
  margin-right: -5px;
  outline: none;
  padding: 5px 10px;
  background-color: transparent;
  cursor: pointer;
  font-size: 0.9em;
}

.show-entries .out-of{
    font-size: 1em;
}

.show-entries .show-out-of{
    margin: 0;
    padding-left: 3px;
    padding-right: 4px;
}
.show-entries .dropdown button:hover{
    background-color: #F7F8FA;
}

.sear-pay{
    padding: 0;
    margin-top: -5px;
}
.sear-pay-icon{
    width: 0.9em;
}
.sear-pay input{
    font-size: 0.9em;
    padding-bottom: 1px;
    width: 70%;
    border-bottom: 1px solid #787878;
}

/* Create User & Modal*/

.create-user{
    position: relative;
    top: -20px;
    background: #1875F0;
    padding: 9px 30px;
    border-radius: 30px;
    color: #fff;
    font-weight: 650;
    font-size: 1em;
}

.create-user:hover{
    text-decoration: none;
    color: #f1f1f1;
}

.modal{
    top: 80px;
    width: 35%;
    left: 33%;
}

.modal-content{
    border-radius: 0px 0px 5px 5px;
    border: none;
}

.modal-header{
    border: none;
    background: #FAFBFC;
    padding: 10px 15px;
}

.modal-title{
    color: #262626;
    font-weight: 500;
    font-size: 1.1em;
}

.modal-body{
    display: flex;
}

.modal-body form{
    display: flex;
    margin: 0;
    padding: 0;
}

.modal-body .left-side, .right-side{
    display: inline;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-right: 20px;
}

.modal-body .left-side p, .right-side p{
    color: #7F8FA4;
}

.modal-body .right-side{
    margin-right: 0px;
}

.first-name, .last-name{
    margin-bottom: 10px;
    padding: 0px !important;
    padding-bottom: 2px !important;
    width: 90%;
    border-bottom: 1px solid #787878 !important;
}
.last-name{
    width: 105%;
}

.modal-footer{
    position: relative;
    margin-top: -20px;
    margin-bottom: 15px;
    top: -5px;
    left: -5%;
    border: none;
}

.btn-cre-user{
    background: #1860EC;
    border-radius: 5px;
    padding: 10px 70px;
    color: #fff;
    font-weight: bold;
    font-size: 1.03em;
}
.btn-dismiss{
    position: relative;
    right: -20px;
    background: #fff;
    border: 1px solid #1860EC;
    padding: 10px 40px;
    color: #1860EC;
    font-weight: 500;
    font-size: 1.03em;
}

#modalTwo .modal-content{
    border-radius: 5px;
}

#modalTwo .modal-header{
    border: none;
    background: #fff;
    padding: 20px 25px;
    border-radius: 5px;
}

#modalTwo .modal-header .modal-title{
    color: #27AE60;
}

#modalTwo .modal-header .close{
    background: rgba(196, 196, 196, 0.12);
    border-radius: 50px;
    line-height: 15px;
    margin-top: -12px;
    padding-top: 14px;
    padding-bottom: 19px;
}

/* Modal Stops Here */

/*Section 1 Ends Here*/



/*Section 2 Starts Here*/

.tab-section-row{
    width: 100%;
    margin-top: 20px;
}

.tab-section-col{
    margin: 0;
    margin-bottom: 20px;
    margin-right: -10px;
}

.card-body{
    display: inline-block;
}

.card-body .head-line{
    display: inline-flex;
    margin-right: 50px;
}

.card-body .head-line img{
    width: 45px;
    height: 45px;
    border-radius: 50px;
}

.card-body .head-line .card-title{
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 1.15em;
}

.card-body .head-line .user-id{
    margin-left: 10px;
    color: #7F8FA4;
}

.drop {
    position: absolute;
	margin: 0;
    margin-top: 5px;
    right: 20px;
}

.drop ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
}
	
.drop ul li {
	display:inline-block;
	background-color: #fff;
    box-shadow: 0px 1px 2px rgba(79, 79, 79, 0.07);
    border: 1px solid #fff;
}

.drop a {
	display:block;
    margin: 3px 0px;
	padding: 5px;	
	color:#4c4c4c;
	font-size: 1em;
	line-height: 22px;
	text-decoration:none;
}

.drop a:hover { 
	background-color: #F7F8FA; 
}

/* Hide Dropdowns by Default */
.drop ul ul {
	display: none;
	position: absolute; 
	top: 40px; /* the height of the main nav */
    right: 0px;
}
	
/* Display Dropdowns on Hover */
.drop ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
.drop ul ul li {
	width:120px;
	float:none;
	display:list-item;
	position: relative;
    z-index: 1;
    box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);
}

/* Second, Third and more Tiers	*/
.drop ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

.card-text-line{
    display: inline-block;
    margin-top: 15px;
}

.line-sect{
    margin-right: 12px;
}

.line-sect p{
    margin: 0;
    padding: 0;
    font-size: 0.97em;
    letter-spacing: 0.01px;
}

.line-sect .head-line{
    color: #7F8FA4;
    font-weight: 500;
    margin-right: 5px;
}
.line-sect .sub-line{
    color: #414042;
    font-weight: 500;
}

.card-body hr{
    position: relative;
    margin: 0;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 15px;
}

.card-body .view-act{
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -10px;
}

.card-body .view-act a{
    color: #1875F0;
    font-weight: bold;
}
.card-body .view-act a:hover{
    text-decoration: none;
}

.card-body .view-act a i{
    margin-left: 5px;
}


.tab-footer{
    display: block;
}
.tab-footer .left{
    float: left;
}
.tab-footer .right{
    float: right;
}








/*Section 2 Ends Here*/

/*Dashboard Ends Here*/





/* Responsive Page Starts Here*/

@media (min-width: 1370px) and (max-width: 1600px) {
    
    .show-entries .out-of{
        width: 3em;
    }
    
    .tab-section-row{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        margin-top: 40px;
        margin-left: 0;
    }

    .tab-section-col{
        width: 96%;
        margin-right: 0px;
    }
    
}

@media (min-width: 1181px) and (max-width: 1369px) {
    
    .show-entries .out-of{
        width: 3em;
    }
    
    .tab-section-row{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        margin-top: 40px;
        margin-left: 0;
    }

    .tab-section-col{
        width: 96%;
        margin-right: 0px;
    }
}


@media (min-width: 1040px) and (max-width: 1181px){
    
    .paym-sub{
        font-size: 1.2em;
    }
    
    .show-entries .out-of{
        width: 3em;
    }
    
    .sear-pay{
        margin-left: 15px;
    }
    .sear-pay-icon{
        width: 0.9em;
    }
    
    .sear-pay input{
        width: 89%;
    }
    
    .tab-section-row{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        margin-top: 40px;
        margin-left: 0;
    }

    .tab-section-col{
        width: 96%;
        margin-right: 0px;
    }
}

@media (min-width: 820px) and (max-width: 1039px){
    
    .paym-sub{
        display: inline-block;
        font-size: 1.2em;
    }
    
    .show-entries .out-of{
        width: 3em;
    }
    
    .sear-pay{
        margin-top: 10px;
        margin-left: 15px;
    }
    
    .sear-pay input{
        width: 89%;
    }
    
    .create-user{
        margin-top: 40px;
    }
    
    .tab-section-row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin-top: 40px;
        margin-left: 0;
    }

    .tab-section-col{
        width: 96%;
        margin-right: 0px;
    }
}

@media screen and (max-width: 819px){
    
    .navbar-toggler{
        display: none;
    }
    
    .navbar .logo{
        margin-left: 30px;
    }
    
    .navbar-nav{
        display: none;
    }
    
    .sidenav{
        width: 0px;
        padding-top: 75px;
    }
    .sidenav a:hover{
        padding: 10px 0px 10px 15px;
    }
    
    /* Position and style the close button (top right corner) */
    .sidenav .closebtn{
        display: block;
    }
    .sidenav .closebtn:hover{
        margin: 33px 6px 0px 30px;
    }

    .open-sidenav{
        position: sticky;
        top: 5.5px;
        font-size: 1.7em;
        z-index: 2000;
        display: block;
        cursor: pointer;
        color: #647787;
        width: 23px;
    }
    
    .sidenav .veri-tra-btn{
        left: 10px;
    }
    
    .sidenav .notif,.sidenav .tab-resp,.sidenav .log-out,.sidenav hr{
        display: block;
    }
    
    .main{
        margin-left: -12px; /* Same as the width of the sidenav */
        width: 100%;
    }
    
    .paym-sub{
        display: inline-block;
        font-size: 1.2em;
    }
    
    .show-entries .out-of{
        width: 3em;
    }
    
    .sear-pay{
        margin-top: 10px;
        margin-left: 15px;
    }
    
    .sear-pay input{
        width: 50%;
    }
    
    .create-user{
        margin-top: 40px;
    }
    
    .tab-section-row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin-top: 40px;
        margin-left: 0;
    }

    .tab-section-col{
        width: 96%;
        margin-right: 0px;
    }
}


@media (min-width: 600px) and (max-width: 754px){
    
    .tab-section-row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin-top: 40px;
        margin-left: 0;
    }
    
}

@media (min-width: 500px) and (max-width: 599px){
    
    .tab-section-row{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        margin-top: 40px;
        margin-left: 0;
    }
    
    .card-body .head-line{
        display: inline-flex;
        margin-right: 220px;
    }
    
    .line-sect .head-line{
        color: #7F8FA4;
        font-weight: 500;
        margin-right: 5px;
    }
    
    .tab-footer .right{
        float: left;
        margin-top: 35px;
    }
    
}

@media (min-width: 441px) and (max-width: 500px){
    
    .tab-section-row{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .card-body .head-line{
        display: inline-flex;
        margin-right: 60px;
    }
    
    .line-sect .head-line{
        color: #7F8FA4;
        font-weight: 500;
        margin-right: 5px;
    }
    
    .tab-footer .right{
        right: 0;
        margin-top: -10px;
    }
}

@media (min-width: 300px) and (max-width: 440px){
    
    .tab-section-row{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .card-body .head-line{
        display: inline-flex;
        margin-right: 60px;
    }
    
    .line-sect .head-line{
        color: #7F8FA4;
        font-weight: 500;
        margin-right: 5px;
    }
    
    .tab-footer .right{
        float: left;
        margin-top: 30px;
    }
}

/* Responsive Page Endss Here*/