*{
    box-sizing: border-box;
}

body {
    font-size: .875rem;
    background: #F7F8FA;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}


/*
 * Content
 */

[role="main"] {
  padding-top: 60px; /* Space for fixed navbar */
}

/* Navbar Starts Here */

.navbar{
    padding: 2px 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);

}

.mr-right li{
    margin: 10px 20px -3px 0px;
}

.form{
    display: inline-block;
}

.navbar .logo{
    margin-right: 2.7em;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -1.6875px;
    color: #1875F0;
}

.search-nav-icon{
    margin-top: -3px;
    margin-right: 2px;
    width: 14px;
}

input[type="text"]{
    background: transparent;
    border: none;
    font-size: 0.95rem;
    color: #000;
    padding: 5px;
    font-weight: 200;
}
input:focus, textarea:focus{
    outline: none;
}

.notif-nav-icon{
    margin-top: -3px;
    margin-right: -23px;
    width: 22px;
}
.mr-right a .circle{
    display: inline-block;
    background-color: #1875F0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 4px;
    left: 16px;
}
.mr-right li #notification{
    color: #fff !important;
}

.user-info{
    position: absolute;
    margin: -10px;
    padding: 0;
    display: inline-block;
}
.hello{
    position: absolute;
    top: 2px;
    left: 8px;
    font-size: 0.7rem;
}
.user-name{
    position: relative;
    bottom: -3px;
    font-size: 0.9rem;
    font-weight: 500;
}

.mr-right a .user-img{
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: -5px;
}
.user-img img{
    width: 35px;
    height: 35px;
}

/* Navbar Ends Here */

/* Overlay */
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7); /* Black background with opacity */
  z-index: 2000; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}


/*Side Menu Starts Here*/

.sidenav {
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 90px;
    background: #ffffff;
    transition: 0.1s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 36px;
    padding-top: 33px;
    padding-right: 6px;
    display: none;
}
.sidenav .closebtn:hover{
    padding: 0px;
    margin: 33px 6px 0px 30px;
    background-color: #fff;
}

.open-sidenav{
    position: sticky;
    color: #1875F0;
    font-size: 25px;
    z-index: 2000;
    top: 3px;
    left: 10px;
    margin-top: -57px;
    margin-bottom: 20px;
    display: none;
}

.tab-sect{
    margin-bottom: 15px;
}
.tab-sect .head-tag{
    padding-left: 15px;
    font-size: 0.9rem;
    color: #647787;
}
.tab-sect p{
    margin-bottom: 10px;
}
.tab-sect hr, .sidenav hr{
    margin-top: 0px;
    margin-bottom: 15px;
    height: 2px;
    background-color: #647787;
    opacity: 0.2;
}

.sidenav .veri-tra-btn{
    position: relative;
    background: #27AE60;
    width: 80%;
    left: 20px;
    margin-bottom: 10px;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 0.3px;
    transition: all 0.2s ease-in-out;
}

.sidenav .veri-tra-btn:hover{
    background: #27AE60;
    padding: 10px 10px 10px 15px;
    letter-spacing: 0.3px;
    transition: all 0.2s ease-in-out;
}

.sidenav .veri-tra-btn.active{
    background: #27AE79;
    padding: 10px 10px 10px 10px;
    font-weight: 700;
    letter-spacing: 0.3px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.sidenav .veri-tra-btn.active:hover{
    padding: 10px 10px 10px 10px;
}


.sidenav a{
    display: block;
    color: #647787;
    text-decoration: none;
    padding: 10px 15px;
    padding-right: 0px;
    font-size: 0.845rem;
    transition: all 0.3s ease-in-out;
}
.sidenav a.active{
    background: rgb(24,117,240, 0.1);
    border-left: 4px solid #1875F0;
    padding: 10px 30px 10px 10px;
}
.sidenav a.active:hover{
    padding: 10px 30px 10px 10px;
}
.sidenav a:hover{
    background: rgb(24,117,240, 0.1);
    transition: all 0.3s ease-in-out;
    padding: 10px 10px 10px 20px;
}

.sidenav a img{
    margin-top: -5px;
    margin-right: 10px;
    width: 24px;
}
.sidenav a .settings-img{
    width: 32px;
    margin-right: 5px;
    margin-left: -3px;
}

.sidenav a.merc-prof:hover{
    transition: all 0.2s ease-in-out;
    padding: 10px 10px 6px 20px;
}

.sidenav a .pen-ord, .sidenav a .recon-ord{
    width: 29px;
    height: 26px;
    margin-right: 5px;
}

.sidenav .notif,.sidenav .tab-resp,.sidenav .log-out,.sidenav hr{
    display: none;
}
.log-out{
    margin-bottom: 30px;
}

/*Side Menu Ends Here*/



/*Dashboard Starts Here*/

/*Section 1 Starts Here*/
.main{
    margin: 0;
    margin-right: 10px;
    margin-left: 210px; /* Same as the width of the sidenav */
    padding: 0px;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 10px;
}

.open-sidenav{
    position: absolute;
    color: #1875F0;
    font-size: 25px;
    z-index: 1;
}

.info-head{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100.9%;
    margin-left: 0;
}

.info-box{
    background: #FFFFFF;
    border: 1px solid #EEF8FD;
    box-sizing: border-box;
    border-radius: 2px;
    max-width: 97%;
    margin-right: 10px;
}

.info-head-tag{
    margin-top: 1.15em;
    font-family: Segoe UI;
    line-height: normal;
    font-size: 0.95em;
    color: #787C90;
}

.info-head-fig{
    margin-top: -0.85em;
    font-family: Segoe UI;
    line-height: normal;
    font-weight: 500;
    font-size: 1.35em;
    color: #262626;
}



/*Section 2 Starts Here*/
.info-graph{
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: transparent;
    padding: 0;
}

.info-chart{
    width: 100%;
    padding: 0;
}

#my-chart{
    min-width: 310px;
    height: 300px;
}

.info-stats{
    margin: 0;
    padding: 0;
    padding-left: 25px;
    height: 300px;
    max-width: 100%;
}

.tab{
    width: 100%;
    padding: 10px;
    height: 49.2%;
    background: #ffffff;
    margin-bottom: 15px;
}

.tab-head-tag{
    font-family: Segoe UI;
    line-height: normal;
    font-size: 1em;
    color: #262626;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 0;
}

.progress{
    margin-top: 5px;
    background: #FDC203;
    height: 0.5em;
    width: 90%;
}
.progress-bar{
    background: #27AE60;
}

.tab-det{
    font-family: Segoe UI;
    line-height: normal;
    font-size: 1em;
    font-weight: 500;
    color: #262626;
    text-align: left;
    margin-top: 6px;
    margin-bottom: 0;
}

.or-tab-det-one, .pay-tab-det-one{
    color: #FDC203;
}
.or-tab-det-two, .pay-tab-det-two{
    color: #27AE60;
}
.or-tab-det-three, .pay-tab-det-three{
    color: #1875F0;
}



@media (min-width: 1300px) and (max-width: 1400px){
    .info-head{
        width: 101%;
    }
}

@media (min-width: 1200px) and (max-width: 1299px){
    .info-head{
        width: 100.9%;
    }
}
@media (min-width: 1100px) and (max-width: 1199px){
    .info-head{
        width: 100.9%;
    }
}
@media (min-width: 1041px) and (max-width: 1099px){
    .info-head{
        grid-template-columns: repeat(2, 1fr);
        width: 101.7%;
    }
}
@media (min-width: 930px) and (max-width: 1040px){
    .info-head{
        grid-template-columns: repeat(2, 1fr);
        width: 102%;
    }
    .info-box{
        margin-bottom: 10px;
    }
    .info-graph{
        display: inline-block;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        background: transparent;
        padding: 0;
    }

    .info-chart{
        width: 100%;
        padding: 0;
    }

    #my-chart{
        min-width: 310px;
        height: 300px;
    }

    .info-stats{
        margin-top: 20px;
        display: flex;
        padding-left: 0px;
    }
    .tab-1{
        margin-right: 15px;
    }
}
@media (min-width: 769px) and (max-width: 899px){
    .info-head{
        grid-template-columns: repeat(2, 1fr);
        width: 102%;
    }
    .info-box{
        margin-bottom: 10px;
    }
    .info-graph{
        display: inline-block;
    }
    .info-stats{
        margin-top: 20px;
        display: flex;
        padding-left: 0px;
    }
    .tab-1{
        margin-right: 15px;
    }
}

@media screen and (max-width: 768px){
    
    .navbar-toggler{
        display: none;
    }
    
    .navbar .logo{
        margin-left: 30px;
    }
    
    .navbar-nav{
        display: none;
    }
    
    .sidenav{
        width: 0px;
        padding-top: 75px;
        z-index: 2001;
    }
    .sidenav a:hover{
        padding: 10px 0px 10px 15px;
    }
    
    /* Position and style the close button (top right corner) */
    .sidenav .closebtn{
        display: block;
        padding-top: 0px;
    }
    .sidenav .closebtn:hover{
        margin: 33px 6px 0px 30px;
    }

    .open-sidenav{
        position: sticky;
        top: 5.5px;
        font-size: 1.7em;
        z-index: 2000;
        display: block;
        cursor: pointer;
        color: #647787;
        width: 23px;
    }
    
    .sidenav .veri-tra-btn{
        width: 90%;
        left: 10px;
        margin-top: -20px;
    }
    
    .sidenav .notif,.sidenav .tab-resp,.sidenav .log-out,.sidenav hr{
        display: block;
    }
    
    .main{
        margin-left: -8px; /* Same as the width of the sidenav */
        width: 100%;
    }
    .info-head{
        grid-template-columns: repeat(2, 1fr);
        width: 102%;
    }
    .info-box{
        margin-bottom: 10px;
    }
    .info-graph{
        display: inline-block;
    }
    .info-stats{
        margin-top: 20px;
        display: flex;
        padding-left: 0px;
    }
    .tab-1{
        margin-right: 15px;
    }

}

@media screen and (max-width: 450px){
    .info-stats{
        display: inline-block;
        padding-left: 0px;
    }
}

@media screen and (max-width: 430px){
    .info-head{
        grid-template-columns: repeat(1, 1fr);
        width: 102%;
    }
}

/* Responsive Page Endss Here*/