@font-face{
    font-family: 'CircularStd-Book';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/CircularStd-Book.woff") format("opentype");
}

*{
    box-sizing: border-box;
}

body {
    font-family: "CircularStd-Book", Arial, sans-serif;
    font-size: .875rem;
    background: #F7F8FA;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}


/*
 * Content
 */

[role="main"] {
  padding-top: 100px; /* Space for fixed navbar */
}

/* Navbar Starts Here */

.navbar{
    padding: 2px 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);

}

.mr-right li{
    margin: 10px 20px -3px 0px;
}

.form{
    display: inline-block;
}

.navbar .logo{
    margin-right: 2.7em;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -1.6875px;
    color: #1875F0;
}

.search-nav-icon{
    margin-top: -3px;
    margin-right: 2px;
    width: 14px;
}

input[type="text"]{
    background: transparent;
    border: none;
    font-size: 0.95rem;
    color: #000;
    padding: 5px;
    font-weight: 200;
}
input:focus, textarea:focus{
    outline: none;
}

.notif-nav-icon{
    margin-top: -3px;
    margin-right: -23px;
    width: 22px;
}
.mr-right a .circle{
    display: inline-block;
    background-color: #1875F0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 4px;
    left: 16px;
}
.mr-right li #notification{
    color: #fff !important;
}

.user-info{
    position: absolute;
    margin: -10px;
    padding: 0;
    display: inline-block;
}
.hello{
    position: absolute;
    top: 2px;
    left: 8px;
    font-size: 0.7rem;
}
.user-name{
    position: relative;
    bottom: -3px;
    font-size: 0.9rem;
    font-weight: 500;
}

.mr-right a .user-img{
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: -5px;
}
.user-img img{
    width: 35px;
    height: 35px;
}

/* Navbar Ends Here */


/* Overlay */
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.55); /* Black background with opacity */
  z-index: 2000; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}


/*Side Menu Starts Here*/

.sidenav {
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 90px;
    background: #ffffff;
    transition: 0.1s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 36px;
    padding-top: 33px;
    padding-right: 6px;
    display: none;
}
.sidenav .closebtn:hover{
    padding: 0px;
    margin: 33px 6px 0px 30px;
    background-color: #fff;
}

.open-sidenav{
    position: sticky;
    color: #1875F0;
    font-size: 25px;
    z-index: 2000;
    top: 3px;
    left: 10px;
    margin-top: -57px;
    margin-bottom: 20px;
    display: none;
}

.tab-sect{
    margin-bottom: 25px;
}
.tab-sect .head-tag{
    padding-left: 15px;
    font-size: 0.9rem;
    color: #647787;
}
.tab-sect p{
    margin-bottom: 10px;
}
.tab-sect hr, .sidenav hr{
    margin-top: 0px;
    margin-bottom: 15px;
    height: 2px;
    background-color: #647787;
    opacity: 0.2;
}

.sidenav .veri-tra-btn{
    position: relative;
    background: #27AE60;
    width: 80%;
    left: 20px;
    margin-bottom: 30px;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 0.3px;
    transition: all 0.2s ease-in-out;
}

.sidenav .veri-tra-btn:hover{
    background: #27AE60;
    padding: 10px 10px 10px 15px;
    letter-spacing: 0.3px;
    transition: all 0.2s ease-in-out;
}

.sidenav .veri-tra-btn.active{
    background: #27AE79;
    padding: 10px 10px 10px 10px;
    font-weight: 700;
    letter-spacing: 0.3px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.sidenav .veri-tra-btn.active:hover{
    padding: 10px 10px 10px 10px;
}


.sidenav a{
    display: block;
    color: #647787;
    text-decoration: none;
    padding: 10px 15px;
    padding-right: 0px;
    font-size: 0.845rem;
    transition: all 0.3s ease-in-out;
}
.sidenav a.active{
    background: rgb(24,117,240, 0.1);
    border-left: 4px solid #1875F0;
    padding: 10px 30px 10px 10px;
}
.sidenav a.active:hover{
    padding: 10px 30px 10px 10px;
}
.sidenav a:hover{
    background: rgb(24,117,240, 0.1);
    transition: all 0.3s ease-in-out;
    padding: 10px 10px 10px 20px;
}

.sidenav a img{
    margin-top: -5px;
    margin-right: 10px;
    width: 20px;
}
.sidenav a .settings-img{
    width: 28px;
    margin-right: 5px;
    margin-left: -3px;
}

.sidenav a.merc-prof.active, .sidenav a.merc-prof.active:hover{
    padding: 10px 30px 7px 10px;
}

.sidenav a.merc-prof:hover{
    transition: all 0.2s ease-in-out;
    padding: 10px 10px 7px 20px;
}

.sidenav a .pen-ord, .sidenav a .recon-ord{
    width: 29px;
    height: 26px;
    margin-right: 5px;
}

.sidenav .notif,.sidenav .tab-resp,.sidenav .log-out,.sidenav hr{
    display: none;
}
.log-out{
    margin-bottom: 30px;
}

/*Side Menu Ends Here*/



/*Dashboard Starts Here*/

.main{
    margin: 0;
    margin-right: 10px;
    margin-left: 210px; /* Same as the width of the sidenav */
    padding: 0px;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 10px;
}

.open-sidenav{
    position: absolute;
    color: #1875F0;
    font-size: 25px;
    z-index: 1;
}

.profile-head{
    padding-top: 20px;
    margin: 0;
}

.prof-content {
    background: #fff;
    padding: 30px;
    margin-bottom: 25px;
}

.nav-pills{
    border-bottom: 1px solid #CAD6E7;
}

.nav-pills .nav-link{
    font-weight: 500;
    color: #414042;
    margin-right: 150px;
    padding: 8px 10px;
}

.nav-pills .nav-link-end{
    margin-right: 0;
}

.nav-pills .nav-link.active{
    border-bottom: 2px solid #1860EC;
    background-color: transparent;
    color: #1860EC;
    border-radius: 0;
}

.tab-pane hr{
    width: 97%;
    margin-bottom: 30px;
    margin-left: 0;
}

.first-tab-fir img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    object-fit: cover;
}

.first-tab-fir input[type=file]{
    padding:10px;
}

.first-tab-fir .upload-txt{
    border: 1px solid #1860EC;
    padding: 10px 35px;
    border-radius: 3px;
    color: #1860EC;
    font-weight: 450;
    margin-left: 60px;
    cursor: pointer;
}

.first-tab-fir .edit-per-prof, .edit-bus-prof{
    position: relative;
    float: right;
    margin-top: 12px;
    right: 30px;
    background: #1860EC;
    color: #fff;
    border: 1px solid #1860EC;
    padding: 10px 35px;
    border-radius: 5px;
    font-weight: 450;
}
.first-tab-fir .edit-prof:hover{
    text-decoration: none;
}

.first-tab-sec input[type=text], .first-tab-sec input[type=password], .first-tab-sec input[type=email]{
    padding: 6px 10px;
    border: 1px solid #CCCFD4;
    border-radius: 3px;
    font-size: 1em;
    margin-top: 6px;
    margin-bottom: 15px;
    width: 100%;
    color: #414042;
    font-weight: 400;
}

.first-tab-sec .col-md-8 input[type=text]{
    width: 100%;
}

.bank-acc-name-field{
    width: 130% !important;
}

#exampleFormControlSelect1{
    margin-top: 6px;
    width: 100%;
}

.save-det{
    position: absolute;
    background: #27AE60;
    color: #fff;
    border: 1px solid #27AE60;
    padding: 10px 35px;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: 450;
    margin-top: 32px;
}
.save-det:hover{
    color: #fff;
    text-decoration: none;
}

.save-date.colorized {
    color: #9FABBB;
    background: #EAEEF0;
}

button:focus {
    outline: none;
}

.rem-bank-btn {
    margin-top: 15px;
    color: #EB5757;
    font-weight: 450;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: none;
}

.add-bank-btn {
    color: #1860EC;
    font-weight: 450;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.tab-wrapper .add-bank-btn{
    display: block;
}
.tab-wrapper2 .add-bank-btn{
    display: block;
}

#targetTwo, #targetThree, #targetFour, #targetFive, #targetSix, #targetSeven, #targetEight, #targetNine, #targetTen {
  display:none;
}

.Hidetwo, .Hidethree, .Hidefour, .Hidefive, .Hidesix, .Hideseven, .Hideeight, .Hidenine, .Hideten {
  display:none;
}


/*Modal Starts Here*/

.modal-content{
    border-radius: 0px 0px 5px 5px;
    border: none;
}

.modal-header{
    padding: 10px 15px;
    background: #FAFBFC;
    border: none;
}

.modal-title{
    font-weight: 600;
}

.bank-removed-title{
    color: #27AE60;
}

.times-btn{
    margin: 0px;
    margin-top: -4px;
}

.modal-body{
    padding-bottom: 10px;
}

.remove-bank-name{
    font-weight: 600;
}

.modal-footer{
    padding: 35px 10px;
    padding-top: 0px;
    border: none;
}

.delete-btn{
    position: relative;
    left: -29px;
    padding: 10px 65px;
    border: 1px solid #1860EC;
    background: #1860EC;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.cancel-btn{
    position: relative;
    left: -10px;
    padding: 10px 65px;
    border: none;
    background: none;
    border: 1px solid #1860EC;
    border-radius: 5px;
    color: #1860EC;
    font-weight: bold;
    cursor: pointer;
}

/*Modal Ends Here*/


#passwordedit{
    display: none;
}

.change-pass{
    background: rgba(24, 96, 236, 0.15);
    border-radius: 5px;
    border-color: rgba(24, 96, 236, 0.15);
    margin-top: 34px;
    color: #1860EC;
    padding: 8px 20px;
    font-size: 1em;
}
.change-pass:hover{
    background-color: #EAEEF0;
    color: #000;
    border-color: #EAEEF0;
}

.save-new-pass{
    background-color: #27AE60;
    border-radius: 5px;
    border-color: #27AE60;
    color: #fff;
}
.save-new-pass:hover{
    background-color: #27AE60;
    color: #f0f0f0;
    border-color: #27AE60;
}

.discard-changes{
    background-color: transparent;
    color: #27AE60;
    margin-left: 20px;
}


/*Main Page Ends Here*/



/* Responsive Page Starts Here*/

@media screen and (max-width: 1093px) {
    #pills-profile-tab{
        margin-right: 0px;
    }
    .nav-pills .nav-link{
        margin-right: 100px;
    }
}

@media screen and (max-width: 1017px) {
    .first-tab-fir .edit-per-prof, .edit-bus-prof{
        margin-top: -57px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 1022px) {
    .first-tab-fir .edit-bus-prof{
        margin-top: -57px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 982px) {
    .first-tab-fir .edit-bus-prof{
        margin-top: -58px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 977px) {
    .first-tab-fir .edit-per-prof, .edit-bus-prof{
        margin-top: -58px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 881px) {
    .navbar-toggler{
        display: none;
    }
    
    .navbar .logo{
        margin-left: 30px;
    }
    
    .navbar-nav{
        display: none;
    }
    
    .sidenav{
        width: 0px;
        padding-top: 75px;
        z-index: 2001;
    }
    .sidenav a:hover{
        padding: 10px 0px 10px 15px;
    }
    
    /* Position and style the close button (top right corner) */
    .sidenav .closebtn{
        display: block;
        padding-top: 0px;
    }
    .sidenav .closebtn:hover{
        margin: 33px 6px 0px 30px;
    }

    .open-sidenav{
        position: sticky;
        top: 5.5px;
        font-size: 1.7em;
        z-index: 2000;
        display: block;
        cursor: pointer;
        color: #647787;
        width: 23px;
    }
    
    .sidenav .veri-tra-btn{
        width: 80%;
        left: 10px;
        margin-top: -20px;
    }
    
    .sidenav .notif,.sidenav .tab-resp,.sidenav .log-out,.sidenav hr{
        display: block;
    }
    
    .main{
        margin-left: 0px; /* Same as the width of the sidenav */
        margin-right: 5px;
    }
    
    .first-tab-fir .edit-per-prof{
        margin-top: 12px;
        margin-right: 20px;
    }
    
    .first-tab-fir .edit-bus-prof{
        margin-top: 12px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 822px) {
    .first-tab-fir .edit-per-prof{
        margin-top: -57px;
        margin-right: 20px;
    }
    
    .first-tab-fir .edit-bus-prof{
        margin-top: -57px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 767px) {
    #pills-profile .save-det{
        margin-top: 15px;
    }
    
    #pills-profile .rem-bank-btn{
        margin-top: 80px;
        margin-bottom: -80px;
    }
    
    #pills-profile .add-bank-btn{
        margin-top: -10px;
    }
    
    #pills-profile hr{
        margin-top: 80px;
    }
    
    .first-tab-fir .edit-bus-prof{
        margin-top: -58px;
        margin-right: 20px;
    }
    
    .bank-acc-name-field{
        width: 100% !important;
    }
}

@media screen and (max-width: 762px) {
    .first-tab-fir .edit-per-prof{
        margin-top: -57px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 666px) {
    #pills-tab{
        display: block;
        padding-bottom: 15px !important;
    }
    
    #pills-tab .nav-item{
        margin-bottom: 15px;
    }
    
    #pills-tab .nav-item .nav-link{
        padding-bottom: 10px;
    }
    
    .tab-content{
        margin-top: -10px;
        border-top: 1px solid #CAD6E7;
        padding-top: 30px;
    }
    
    .nav-pills .nav-link{
        margin-right: 0px;
        text-align: center;
        border: 1px solid #4c4c4c;
        border-radius: 5px;
    }
    
    .nav-pills .nav-link.active{
        border: 2px solid #1860EC;
        background-color: transparent;
        color: #1860EC;
        border-radius: 5px;
    }
    
    #pills-personal .personal-info-edit hr, #pills-home hr{
        margin-top: 105px;
    }
    
    .first-tab-fir .edit-per-prof, .first-tab-fir .edit-bus-prof{
        position: relative;
        margin-top: 50px;
        margin-left: 30px;
        float: left;
    }
    
    #pills-profile .tab-wrapper{
        margin-top: -20px;
    }
}

@media screen and (max-width: 661px) {
    #pills-personal .personal-info-edit hr, #pills-home hr{
        margin-top: 55px;
    }
}

@media screen and (max-width: 598px) {
    .first-tab-fir .edit-per-prof, .first-tab-fir .edit-bus-prof{
        position: relative;
        margin-top: 0px;
        margin-left: 30px;
        float: left;
    }
}

@media screen and (max-width: 568px) {
    .first-tab-fir .edit-per-prof, .first-tab-fir .edit-bus-prof{
        margin-right: 0px;
        float: left;
    }
}

@media screen and (max-width: 350px) {
    .first-tab-fir .upload-txt{
        position: absolute;
        margin-left: 0px;
        margin-top: 90px;
        left: 50px;
    }
    
    .first-tab-fir .edit-per-prof, .first-tab-fir .edit-bus-prof{
        margin-top: 70px;
        margin-right: 0px;
        float: left;
    }
    
    #pills-personal .personal-info-edit hr, #pills-home hr{
        margin-top: 120px;
    }
}


/* Responsive Page Ends Here*/