$ashLight: #F7F8FA;
$blueLight: #1875F0;
$white: #FFFFFF;
$ashDark: #EAEEF0;
$blackLight: #787C90;
$blackMedium: #414042;
$blackDark: #262626;



*{
    box-sizing: border-box;
}

body {
    font-size: .875rem;
    background: #F7F8FA;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}


/*
 * Content
 */

[role="main"] {
  padding-top: 100px; /* Space for fixed navbar */
}

/* Navbar Starts Here */

.navbar{
    padding: 2px 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);

}

.mr-right li{
    margin: 10px 20px -3px 0px;
}

.form{
    display: inline-block;
}

.navbar .logo{
    margin-right: 2.7em;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -1.6875px;
    color: #1875F0;
}

.search-nav-icon{
    margin-top: -3px;
    margin-right: 2px;
    width: 14px;
}

input[type="text"]{
    background: transparent;
    border: none;
    font-size: 0.95rem;
    color: #000;
    padding: 5px;
    font-weight: 200;
}
input:focus, textarea:focus{
    outline: none;
}

.notif-nav-icon{
    margin-top: -3px;
    margin-right: -23px;
    width: 22px;
}
.mr-right a .circle{
    display: inline-block;
    background-color: #1875F0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 4px;
    left: 16px;
}
.mr-right li #notification{
    color: #fff !important;
}

.user-info{
    position: absolute;
    margin: -10px;
    padding: 0;
    display: inline-block;
}
.hello{
    position: absolute;
    top: 2px;
    left: 8px;
    font-size: 0.7rem;
}
.user-name{
    position: relative;
    bottom: -3px;
    font-size: 0.9rem;
    font-weight: 500;
}

.mr-right a .user-img{
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: -5px;
}
.user-img img{
    width: 35px;
    height: 35px;
}

/* Navbar Ends Here */


/*Side Menu Starts Here*/

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

#sideMenu{
    position: sticky;
    background: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    padding-top: 120px;
}

.tab-sect{
    margin-bottom: 15px;
}
.tab-sect .head-tag{
    padding-left: 15px;
    font-size: 0.9rem;
    color: #647787;
}
.tab-sect p{
    margin-bottom: 10px;
}

#sideMenu a{
    display: block;
    color: #647787;
    text-decoration: none;
    padding: 10px 15px;
    padding-right: 0px;
    font-size: 0.845rem;
}
#sideMenu a.active{
    background: rgb(24,117,240, 0.1);
    border-left: 4px solid #1875F0;
    padding: 10px 30px 10px 10px;
}
#sideMenu a.active:hover{
    padding: 10px 30px 10px 10px;
}
#sideMenu a:hover{
    background: rgb(24,117,240, 0.1);
    transition: all 0.3s ease-in-out;
    padding: 10px 30px 10px 19px;
}

#sideMenu a img{
    margin-top: -5px;
    margin-right: 10px;
    width: 24px;
}
#sideMenu a .pen-ord, #sideMenu a .recon-ord{
    width: 29px;
    height: 26px;
    margin-right: 5px;
}

/*Side Menu Ends Here*/



/*Dashboard Starts Here*/

/*Section 1 Starts Here*/
.info-head{
    display: flex;
    margin-top: 2.5%;
    width: 95%;
    padding: 0;
    margin-bottom: 5%;
}

.info-box{
    display: flex;
    position: relative;
    width: 100%;
    height: 75px;
    background: #FFFFFF;
    border: 1px solid #EEF8FD;
    box-sizing: border-box;
    border-radius: 2px;
    margin-right: 0.6em;
}
.info-box-2{
    margin-right: 2.9em;
}

.info-head-tag{
    margin-top: 1.15em;
    font-family: Segoe UI;
    line-height: normal;
    font-size: 0.95em;
    color: #787C90;
}

.info-head-fig{
    margin-top: -0.85em;
    font-family: Segoe UI;
    line-height: normal;
    font-weight: 500;
    font-size: 1.35em;
    color: #262626;
}

.info-head-cha{
    position: absolute;
    margin-top: 8%;
    margin-left: 61%;
    width: 4.5em;
    height: 2.8em;
}
.info-head-cha img{
    width: 4.5em;
    height: 2.8em;
}
/*Section 1 Ends Here*/

/*Section 3 Starts Here*/

.head-sub-tit-one{
    margin: 0;
    margin-top: 8px;
}
.head-sub-tit-two{
    margin-bottom: 10px;
}

.column-grid-first, .column-grid-scnd{
    margin-left: -7px;
    margin-right: 0px;
    padding: 0;
    width: 102.5%;
    display: inline-flex;
}

.paym-sub-line{
    margin-top: 18px;
    margin-bottom: 10px;
}
.paym-sub{
    display: flex;
    padding: 0;
}

.show-entries p{
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 5px;
}
.sear-pay{
    padding: 0;
    margin-top: -5px;
}
.sear-pay-icon{
    width: 0.9em;
}
.sear-pay input{
    font-size: 0.9em;
    padding-bottom: 1px;
    width: 80%;
    border-bottom: 1px solid #787878;
}

.table thead{
    background-color: #EAEEF0;
}
.table thead tr .head-price{
    padding-left: 0;
}
.table thead tr th{
    padding: 5px 12px;
    color: #7F8FA4;
    font-weight: 500;
}

.table tbody{
    background: #FFFFFF;
}
.table tbody tr{
    border-color: #CCCFD4;
}

.table tbody tr th{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 0px;
}
.table tbody tr th .item-name{
    margin-bottom: 3px;
}
.table tbody tr th .ref-no{
    color: #7F8FA4;
    font-weight: 400;
    margin: 0;
}

.table tbody tr td{
    padding: 18px 20px;
    padding-left: 0;
}

.accordion-toggle-ls:after{
    position: absolute;
    display: inline-block;
    border-style: solid;
	border-width: 0.18em 0.18em 0 0;
	content: '';
	height: 0.65em;
    width: 0.65em;
    color: #CCCFD4;
    transform: rotate(-45deg);
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    cursor: pointer;
    right: 26px;
    margin-top: -12px;
    cursor: pointer;
}
.accordion-toggle-rs:after{
    position: absolute;
    display: inline-block;
    border-style: solid;
	border-width: 0.18em 0.18em 0 0;
	content: '';
	height: 0.65em;
    width: 0.65em;
    color: #CCCFD4;
    transform: rotate(-45deg);
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    cursor: pointer;
    right: 30px;
    margin-top: -14px;
    cursor: pointer;
}

.accordion-toggle-ls.collapsed:after{
    margin-top: -15.5px;
    transform: rotate(135deg);
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}
.accordion-toggle-rs.collapsed:after{
    margin-top: -18.5px;
    transform: rotate(135deg);
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.hiddenRow {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background: #FAFBFC;
}
.accordian-body .drop-down-det{
    margin: 0;
    display: inline-flex;
}
.inner{
    display: inline;
    padding: 0px 15px 0px 13px;
    margin-right: 15px;
    border-right: 1px solid #CCCFD4;
    color: #414042;
    font-weight: 500;
}
.inner-right{
    border: none;
    padding-left: 0;
}
.end{
    border-right: none;
}

.inner .first-tag{
    margin-top: 12px;
    margin-bottom: 3px;
    color: #7F8FA4;
    font-weight: 500;
}

.inner .payer-name{
    margin: 0;
    margin-bottom: 3px;
}
.inner .payer-num{
    margin: 0;
    margin-bottom: 14px;
    color: #1875F0;
    font-weight: 500;
}

.inner .order-loca-det{
    margin: 0;
    width: 250px;
}

td .reconciled{
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: -2px;
    padding: 7px 10px;
    padding-top: 6px;
    border: 1px solid #1860EC;
    cursor: pointer;
    border-radius: 30px;
    color: #124DC1;
    font-weight: 400;
    font-size: 0.85em;
}
td .reconciled:hover{
    background: #D2DAE3;
}

.match{
    top: 75px;
    left: 36px;
    margin-top: -5px;
    margin-bottom: -5px;
    padding: 7px 25px;
    padding-top: 7px;
    border: 1px solid #1860EC;
    cursor: pointer;
    border-radius: 30px;
    color: #124DC1;
    font-weight: 400;
    font-size: 0.85em;
    z-index: 10;
}
td .match:hover{
    color: #fff;
    background: #1860EC;
}
td .match.active{
    color: #fff;
    background: #1860EC;
}

.tab-footer .left{
    float: left;
}
.tab-footer .right{
    float: right;
}

/*Section 3 Ends Here*/
/*Dashboard Ends Here*/




#overlay{ /* we set all of the properties for our overlay */
    margin:0 auto;
    background:white;
    min-width: 520px;
    color:black;
    padding: 0;;
    position: absolute;
    top: 40%;
    left: -20%;
    transform: translate(-50%, -50%);
    z-index:1000;
    display:none;
}

#mask{ /* create are mask */
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:500;
    width:100%;
    height:100%;
    display:none;
}
/* use :target to look for a link to the overlay then we find our mask */
#overlay:target, #overlay:target + #mask{
    display:block;
    opacity:1;
}
#open-overlay{ /* open the overlay */
    color: #1860EC;
    text-decoration:none;
    display:inline-block;
}
#open-overlay:hover{
    background: #1860EC;
    color: #fff;
}

#overlay h2{
    font-size: 16px;
    font-weight: 400;
    background: #FAFBFC;
    padding: 13px 20px;
}
#overlay .pop-det{
    display: flex;
    padding: 0 20px;
    margin: 0;
    margin-bottom: 30px;
}
#overlay .pop-det-left, .pop-det-right{
    padding: 0;
    margin: 0;
}
#overlay .pop-sub-head{
    font-weight: 500;
    margin: 0;
    padding-bottom: 5px;
}
#overlay p{
    margin: 0;
    padding-bottom: 3px;
    font-size: 1em;
}
#overlay .mat-ordtopay{
    float: left;
    position: relative;
    bottom: 15px;
    margin: 0 20px;
    padding: 10px 20px;
    background: #1860EC;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}
#overlay .mat-ordtopay:hover{
    text-decoration: none;
    color: #D2DAE3;
}

#overlay .dismiss{
    float: right;
    position: relative;
    bottom: 15px;
    right: 0px;
    margin: 0 20px;
    padding: 9px 50px;
    border: 1px solid #1860EC;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    color: #1860EC;
}
#overlay .dismiss:hover{
    text-decoration: none;
    background: #D2DAE3;
}
