body{
    font: 100% / 1.414 "Noto Sans JP", sans-serif;
    background: #fff;
}

a,[type="submit"] {
    transition: all .25s ease-in;
}

.signup_container{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 0.1875rem;
    box-shadow: 0px 0.1875rem 0,4375rem rgba(0, 0, 0, 0.25);
}

.container_child{
    width: 50%;
    height: 100%;
    color: #fff;
}

.signup_thumbnail{
    position: relative;
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: url(../images/signup-sign-in-img.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.signup_form{
    position: relative;
    align-items: center;
    padding: 8rem;
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 100%);
}

.thumbnail_logo, .thumbnail_content{
    position: relative;
    z-index: 2;
}

.thumbnail_logo{
    align-self: flex-start;
}
.thumbnail_logo a{
    color: #fff;
}
.thumbnail_logo a:hover{
    text-decoration: none;
}

.logo_shape{
    fill: #fff;
}

.logo_text{
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 700;
    vertical-align: bottom;
    font-style: italic;
}

.thumbnail_content{
    align-self: center;
    margin-top: -300px;
    padding-left: 30px;
}

h1, h2{
    font-weight: 300;
    color: #fff;
}

.heading--primary{
    font-size: 1.999rem;
    padding-bottom: 0.5em;
    font-weight: 600;
}

.heading--secondary{
    font-size: 1rem;
}

.box{
    width: 50%;
    padding: 100px 130px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.1);
    z-index: 1;
}

.box h2{
    margin: 0 0 0.8em;
    padding: 0;
    font-size: 1rem;
    font-weight: 600;
    color: #1875F0;
    text-align: center;
}
.box .you-need{
    margin: 0 0 1em;
    margin-left: -50px;
    margin-right: -50px;
    padding: 0;
    font-size: 0.8rem;
    font-weight: 500;
    color: #414042;
    text-align: center;
}

.contact-info{
    background: none;
}

.shop-icon{
    position: absolute;
    top: -0.65em;
    left: 1em;
    width: 1.5em;
    height: 1.4em;
}
.location-icon{
    position: absolute;
    top: -0.7em;
    left: 1.2em;
    width: 1.1em;
    height: 1.5em;
}
.email-icon{
    position: absolute;
    top: -0.5em;
    left: 1.1em;
    width: 1.45em;
    height: 1.1em;
}
.password-icon{
    position: absolute;
    top: -0.6em;
    left: 1.3em;
    width: 1.1em;
    height: 1.3em;
}
.bankvec-icon{
    position: absolute;
    top: -0.75em;
    left: 1.1em;
    width: 1.5em;
    height: 1.5em;
}
.otp-icon{
    position: absolute;
    top: 1.2em;
    left: 1.1em;
    width: 1.4em;
    height: 1.4em;
}

.box input{
    padding: 0px 0;
    margin-bottom: 25px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    margin-left: 0px;
    padding-left: 60px;
    padding-bottom: 8px;
    border: none;
    font-size: 1em;
    border-bottom: 2px solid #D2DAE3;
}

.box input[type="text"], .box input[type="password"], .box input[type="number"]{
    color: #414042;
    background-color: transparent;
}

.box input.password, .box input.number{
    margin-bottom: -10px;
    border-bottom: none;
}

.box .alr-hav-an-acc{
    position: relative;
    top: -5px;
    text-align: center;
    color: #1875F0;
    font-size: 0.9em;
    font-weight: 500;
}
.box .alr-hav-an-acc:hover{
    text-decoration: none;
}

#tra-form {
    text-align: center;
    position: relative;
    margin-top: 30px;
    width: 100%;
}

#tra-form fieldset {
    border: 0 none;
    border-radius: 0px;
    box-sizing: border-box;

    /*stacking fieldsets above each other*/
    position: relative;
    width: 100%;
}

/*Hide all except first fieldset*/
#tra-form fieldset:not(:first-of-type) {
    display: none;
}


/*progressbar*/
#progressbar {
    padding-top: 5px;
    margin-bottom: 10px;
    width: 120%;
    margin-left: -10%;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #E0E0E0;
    position: absolute;
    left: -50%;
    top: 7px;
    z-index: -1; /*put it behind the numbers*/
    transition: All 0.2s ease-in-out;
    -webkit-transition: All 0.2s ease-in-out;
    -moz-transition: All 0.2s ease-in-out;
    -o-transition: All 0.2s ease-in-out;
}

#progressbar li {
    list-style-type: none;
    color: white;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 16px;
    height: 16px;
    line-height: 25px;
    display: block;
    font-size: 0px;
    color: #fff;
    background: #E0E0E0;
    border-radius: 25px;
    margin: 0 auto 10px auto;
    transition: All 0.2s ease-in-out;
    -webkit-transition: All 0.2s ease-in-out;
    -moz-transition: All 0.2s ease-in-out;
    -o-transition: All 0.2s ease-in-out;
}
#progressbar li.active:before{
    width: 24px;
    height: 24px;
    font-size: 13px;
    margin: -4px auto 10px auto;
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #1463CC;
    color: white;
    transition: All 0.2s ease-in-out;
    -webkit-transition: All 0.2s ease-in-out;
    -moz-transition: All 0.2s ease-in-out;
    -o-transition: All 0.2s ease-in-out;
}

#tra-form fieldset .fields .enter-otp{
    position: relative;
    padding: 0;
    margin: 0;
    margin-left: -40px;
    margin-bottom: -14px;
    color: #7F8FA4;
    top: -23px;
    font-size: 0.8em;
}
#tra-form fieldset .fields .veri-field{
    cursor: default;
    margin: 0;
    margin-left: -125px;
}
.box input.verify {
    display: inline-block;
    width: 6%;
    height: 28px;
    line-height: 30px;
    text-align: center;
    font-size: 1.3em;
    color: #414042;
    border: 0;
    border-bottom: 1.5px solid #000;
    border-radius: 1px 1px 0 0;
    cursor: text;
    margin: 0;
    margin-top: -10px;
    padding: 0;
}
.box input.verify:focus{
    border-bottom: 1.5px solid #00E59E;
}

#tra-form .action-button {
    border-bottom: none;
    cursor: pointer;
    width: 100%;
    margin-top: -5px;
    padding: 1rem 2.5rem;
    font-weight: 500;
    color: #fff;
    background: #00E59E;
    border-radius: 60px;
    box-shadow: 0 5px 10px rgba(0,0,0,.01);
}

#tra-form .action-button:hover, #tra-form .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #00E59E;
}

#tra-form .sec-pg-pre{
    margin: 0;
    padding: 0px 5px 7px 5px;
    width: 40px;
    height: 40px;
    line-height: 0px;
    font-size: 35px;
    float: left;
}
#tra-form .sec-pg-pre-txt{
    margin: 0 0 0 0px;
    padding: 0 0 0 8px;
    width: 75px;
    height: 40px;
    line-height: 0px;
    color: #00E59E;
    font-size: 16px;
    font-weight: 600;
    float: left;
    background: none;
    box-shadow: none;
}
#tra-form .sec-pg-pre-txt:hover, #tra-form .sec-pg-pre-txt:focus{
    box-shadow: none;
}

#tra-form .sec-pg-nxt, #tra-form .sec-pg-sub{
    width: 50%;
    float: right;
}

#tra-form .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

.box fieldset{
    display: block;
    margin: 0;
    padding: 0;
}

.box .fields{
    background: #fff;
    padding: 0px 0px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,.01);
    position: relative;
}

.box form div{
    position: relative;
}

.box form div label{
    position: absolute;
    top: -8px;
    left: 0;
    color: #999;
    transition: .5s;
    margin-left: 60px;
    pointer-events: none;
}

.box input:focus ~ label, .box input:valid ~ label{
    top: -17px;
    left: 0;
    color: #7F8FA4;
    font-size: 12px;
}

.box input.password:focus, .box input.password:valid{
    border-bottom: none;
}
.box input.submit:focus, .box input.submit:valid{
    border-bottom: none;
}

#tra-form .gotodash{
    position: relative;
    float: left;
    display: block;
    bottom: -400px;
}




/* Responsive Page Starts Here*/

@media screen and (max-width: 900px){
    
    .signup_thumbnail{
        display: none;
    }
    
    .signup_form{
        width: 100%;
        padding: 4rem;
    }
    
    .box{
        padding: 100px 3em;
        font-size: 0.85em;
    }
    
    .person-icon{
        left: 1.45em;
    }
    .shop-icon{
        left: 1.45em;
    }
    .location-icon{
        left: 1.7em;
    }
    .email-icon{
        left: 1.45em;
    }
    .password-icon{
        left: 1.7em;
    }
    
}


@media screen and (max-width: 1200px) {
    
    .signup_thumbnail{
        padding: 3rem;
    }
    
    .signup_form{
        padding: 3rem;
    }
    
}


/* Responsive Page Ends Here*/




/* Not relevant to this form */
.dme_link {
    margin-top: 30px;
    text-align: center;
}
.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #ee0979;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}

.dme_link a:hover, .dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}