*{
    box-sizing: border-box;
}

body {
    font-size: .875rem;
    background: #F7F8FA;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}


/*
 * Content
 */

[role="main"] {
  padding-top: 60px; /* Space for fixed navbar */
}

/* Navbar Starts Here */

.navbar{
    padding: 2px 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);

}

.mr-right li{
    margin: 10px 20px -3px 0px;
}

.form{
    display: inline-block;
}

.navbar .logo{
    margin-right: 2.7em;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -1.6875px;
    color: #1875F0;
}

.search-nav-icon{
    margin-top: -3px;
    margin-right: 2px;
    width: 14px;
}

input[type="text"]{
    background: transparent;
    border: none;
    font-size: 0.95rem;
    color: #000;
    padding: 5px;
    font-weight: 200;
}
input:focus, textarea:focus{
    outline: none;
}

.notif-nav-icon{
    margin-top: -3px;
    margin-right: -23px;
    width: 22px;
}
.mr-right a .circle{
    display: inline-block;
    background-color: #1875F0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 4px;
    left: 16px;
}
.mr-right li #notification{
    color: #fff !important;
}

.user-info{
    position: absolute;
    margin: -10px;
    padding: 0;
    display: inline-block;
}
.hello{
    position: absolute;
    top: 2px;
    left: 8px;
    font-size: 0.7rem;
}
.user-name{
    position: relative;
    bottom: -3px;
    font-size: 0.9rem;
    font-weight: 500;
}

.mr-right a .user-img{
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: -5px;
}
.user-img img{
    width: 35px;
    height: 35px;
}

/* Navbar Ends Here */


/*Side Menu Starts Here*/

.sidenav {
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 90px;
    background: #ffffff;
    transition: 0.1s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 36px;
    padding-top: 33px;
    padding-right: 6px;
    display: none;
}
.sidenav .closebtn:hover{
    padding: 0px;
    margin: 33px 6px 0px 30px;
    background-color: #fff;
}

.open-sidenav{
    position: sticky;
    color: #1875F0;
    font-size: 25px;
    z-index: 2000;
    top: 3px;
    left: 10px;
    margin-top: -57px;
    margin-bottom: 20px;
    display: none;
}

.tab-sect{
    margin-bottom: 15px;
}
.tab-sect .head-tag{
    padding-left: 15px;
    font-size: 0.9rem;
    color: #647787;
}
.tab-sect p{
    margin-bottom: 10px;
}
.tab-sect hr, .sidenav hr{
    margin-top: 0px;
    margin-bottom: 15px;
    height: 2px;
    background-color: #647787;
    opacity: 0.2;
}

.sidenav .veri-tra-btn{
    position: relative;
    background: #27AE60;
    width: 80%;
    left: 20px;
    margin-bottom: 10px;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 0.3px;
    transition: all 0.2s ease-in-out;
}
.sidenav .veri-tra-btn:hover{
    background: #27AE60;
    padding: 10px 10px 10px 10px;
    font-weight: 700;
    letter-spacing: 0.3px;
    transition: all 0.2s ease-in-out;
}

.sidenav a{
    display: block;
    color: #647787;
    text-decoration: none;
    padding: 10px 15px;
    padding-right: 0px;
    font-size: 0.845rem;
    transition: all 0.3s ease-in-out;
}
.sidenav a.active{
    background: rgb(24,117,240, 0.1);
    border-left: 4px solid #1875F0;
    padding: 10px 30px 10px 10px;
}
.sidenav a.active:hover{
    padding: 10px 30px 10px 10px;
}
.sidenav a:hover{
    background: rgb(24,117,240, 0.1);
    transition: all 0.3s ease-in-out;
    padding: 10px 10px 10px 20px;
}

.sidenav a img{
    margin-top: -5px;
    margin-right: 10px;
    width: 24px;
}
.sidenav a .pen-ord, .sidenav a .recon-ord{
    width: 29px;
    height: 26px;
    margin-right: 5px;
}

.sidenav .notif,.sidenav .tab-resp,.sidenav .log-out,.sidenav hr{
    display: none;
}

/*Side Menu Ends Here*/



/*Dashboard Starts Here*/

/*Section 1 Starts Here*/
.main{
    margin: 0;
    margin-right: 10px;
    margin-left: 210px; /* Same as the width of the sidenav */
    padding: 0px;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 10px;
}

.open-sidenav{
    position: absolute;
    color: #1875F0;
    font-size: 25px;
    z-index: 1;
}

.tab-sect{
    margin-bottom: 15px;
}
.tab-sect .head-tag{
    padding-left: 15px;
    font-size: 0.9rem;
    color: #647787;
}
.tab-sect p{
    margin-bottom: 10px;
}
.tab-sect hr, .sidenav hr{
    margin-top: 0px;
    margin-bottom: 15px;
    height: 2px;
    background-color: #647787;
    opacity: 0.2;
}

.sidenav .veri-tra-btn{
    position: relative;
    background: #27AE60;
    width: 80%;
    left: 20px;
    margin-bottom: 10px;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 0.3px;
    transition: all 0.2s ease-in-out;
}
.sidenav .veri-tra-btn:hover{
    background: #27AE60;
    padding: 10px 10px 10px 15px;
    font-weight: 700;
    letter-spacing: 0.3px;
    transition: all 0.2s ease-in-out;
}

.sidenav .veri-tra-btn.active{
    background: #27AE79;
    padding: 10px 10px 10px 10px;
    font-weight: 700;
    letter-spacing: 0.3px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.sidenav .veri-tra-btn.active:hover{
    padding: 10px 10px 10px 10px;
}

.sidenav a{
    display: block;
    color: #647787;
    text-decoration: none;
    padding: 10px 15px;
    padding-right: 0px;
    font-size: 0.845rem;
    transition: all 0.3s ease-in-out;
}
.sidenav a.active{
    background: rgb(24,117,240, 0.1);
    border-left: 4px solid #1875F0;
    padding: 10px 30px 10px 10px;
}

.sidenav a.active:hover{
    padding: 10px 30px 10px 10px;
}
.sidenav a:hover{
    background: rgb(24,117,240, 0.1);
    transition: all 0.3s ease-in-out;
    padding: 10px 10px 10px 20px;
}

.sidenav a img{
    margin-top: -5px;
    margin-right: 10px;
    width: 24px;
}
.sidenav a .settings-img{
    width: 32px;
    margin-right: 5px;
    margin-left: -3px;
}
.sidenav a.active.merc-prof{
    padding: 10px 30px 6px 10px;
}

.sidenav a.merc-prof:hover{
    transition: all 0.2s ease-in-out;
    padding: 10px 10px 6px 20px;
}

.sidenav a .pen-ord, .sidenav a .recon-ord{
    width: 29px;
    height: 26px;
    margin-right: 5px;
}

.sidenav .notif,.sidenav .tab-resp,.sidenav .log-out,.sidenav hr{
    display: none;
}

/*Side Menu Ends Here*/



/*Main Page Starts Here*/

.main{
    margin-left: 209px; /* Same as the width of the sidenav */
    padding: 0px 10px;
    padding-top: 60px;
    padding-left: 25px;
    width: 83%;
}

.open-sidenav{
    position: absolute;
    color: #1875F0;
    font-size: 25px;
    z-index: 1;
}

.tra-pay-content {
    background: transparent;
    margin: 0px auto;
    margin-bottom: 40px;
    padding: 0 200px;
}

.content-head{
    background: rgba(24, 117, 240, 0.1);
    border-radius: 3px 3px 0 0;
    padding: 20px 30px;
}

.invoice{
    margin: 0;
    color: #414042;
    font-weight: 500;
    font-size: 1.9em;
}

.invoice-no{
    margin: 0;
    color: #414042;
    font-weight: 500;
    font-size: 1.3em;
    float: right;
    margin-top: -32px;
}

.invoice-date{
    margin: 0;
    color: #414042;
    font-weight: 500;
    font-size: 0.9em;
    margin-top: -30px;
}

.content-body{
    background: #fff;
    border-radius: 0 0 3px 3px;
    padding-bottom: 40px;
}

.body-in{
    padding: 50px 80px;
    display: flex;
    margin-left: 31.9%;
}

.content-body .tag{
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: 100px;
}

.content-body .details{
    font-weight: bold;
    margin-bottom: 25px;
}

.foo-note{
    background: rgba(235, 87, 87, 0.08);
    margin-top: -50px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #EB5757;
    border-style: dashed;
    border-right: none;
    border-left: none;
    margin-bottom: 25px;
}

.foo-note p{
    text-align: center;
    color: #EB5757;
    font-weight: 500;
}

button:focus {
    outline: none;
}

.action-button {
    border: none;
    cursor: pointer;
    width: 60%;
    padding: 1rem 2rem;
    margin-left: 20%;
    font-weight: 500;
    color: #fff;
    background: #1875F0;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,.01);
}

.cancel-btn{
    position: relative;
    text-align: center;
    top: 20px;
    font-weight: 500;
    font-size: 1.05em;
    margin: 0;
}
.cancel-btn:hover{
    text-decoration: none;
}

.go-to{
    position: absolute;
    text-align: center;
    bottom: -40px;
    font-weight: 500;
    font-size: 1.05em;
}

/*Main Page Ends Here*/




/*Responsive Page Starts Here*/

@media screen and (max-width: 1940px){
    .body-in{
        margin-left: 30%;
    }
}

@media screen and (max-width: 1840px){
    .body-in{
        margin-left: 28%;
    }
}

@media screen and (max-width: 1740px){
    .body-in{
        margin-left: 26%;
    }
}

@media screen and (max-width: 1640px){
    .body-in{
        margin-left: 24%;
    }
}

@media screen and (max-width: 1540px){
    .body-in{
        margin-left: 22%;
    }
}

@media screen and (max-width: 1440px){
    .body-in{
        margin-left: 20%;
    }
}

@media screen and (max-width: 1340px){
    .body-in{
        margin-left: 16%;
    }
}

@media screen and (max-width: 1240px){
    .body-in{
        margin-left: 10%;
    }
}

@media screen and (max-width: 1140px){
    .body-in{
        margin-left: 4%;
    }
}

@media screen and (max-width: 1092px){
    .body-in{
        padding: 50px 32px;
        margin-left: 11%;
    }
}

@media screen and (max-width: 1040px){
    .tra-pay-content {
        padding: 0 100px;
    }
    .body-in{
        margin-left: 21%;
    }
}

@media screen and (max-width: 1018px){
    .body-in{
        margin-left: 19%;
    }
}

@media screen and (max-width: 972px){
    .body-in{
        margin-left: 16%;
    }
}

@media screen and (max-width: 904px){
    .body-in{
        margin-left: 14%;
    }
}

@media screen and (max-width: 856px){
    .body-in{
        margin-left: 12%;
    }
}

@media screen and (max-width: 820px){
   .body-in{
        margin-left: 8%;
    }
}

@media screen and (max-width: 788px){
    .tra-pay-content {
        padding: 0 30px;
    }
   .body-in{
        margin-left: 18%;
    }
}

@media screen and (max-width: 768px){
    
    .navbar-toggler{
        display: none;
    }
    
    .navbar .logo{
        margin-left: 30px;
    }
    
    .navbar-nav{
        display: none;
    }
    
    .sidenav{
        width: 0px;
        padding-top: 75px;
    }
    .sidenav a:hover{
        padding: 10px 0px 10px 15px;
    }
    
    /* Position and style the close button (top right corner) */
    .sidenav .closebtn{
        display: block;
    }
    .sidenav .closebtn:hover{
        margin: 33px 6px 0px 30px;
    }

    .open-sidenav{
        position: sticky;
        top: 5.5px;
        font-size: 1.7em;
        z-index: 2000;
        display: block;
        cursor: pointer;
        color: #647787;
        width: 23px;
    }
    
    .sidenav .veri-tra-btn{
        left: 10px;
    }
    
    .sidenav .notif,.sidenav .tab-resp,.sidenav .log-out,.sidenav hr{
        display: block;
    }
    
    .main{
        margin-left: -8px; /* Same as the width of the sidenav */
        padding-top: 30px;
        width: 100%;
    }
    
    .body-in{
        margin-left: 23%;
    }
}

@media screen and (max-width: 724px){
    .main{
        padding-top: 30px;
    }
   .body-in{
        margin-left: 20%;
    }
}

@media screen and (max-width: 664px){
    .main{
        padding-top: 30px;
    }
   .body-in{
        margin-left: 17%;
    }
}

@media screen and (max-width: 612px){
    .main{
        padding-top: 30px;
    }
   .body-in{
        margin-left: 14%;
    }
}

@media screen and (max-width: 576px){
    .main{
        padding-top: 30px;
    }
    .body-in{
        margin-left: 12%;
    } 
}

@media screen and (max-width: 528px){
    .main{
        padding-top: 30px;
    }
    .body-in{
        margin-left: 7%;
    } 
}

@media screen and (max-width: 500px){
    .main{
        padding-top: 20px;
    }
    .tra-pay-content {
        padding: 0 10px;
    }
    .body-in{
        margin-left: 8%;
    }
}

@media screen and (max-width: 444px){
    .main{
        padding-top: 20px;
    }
    .body-in{
        margin-left: 1%;
    }
}

@media screen and (max-width: 416px){
    .main{
        padding-top: 20px;
    }
    .body-in{
        margin-left: 6%;
    }
    .content-body .tag{
        margin-right: 50px;
    }
}

@media screen and (max-width: 390px){
    .main{
        padding-top: 20px;
    }
    .body-in{
        margin-left: 1%;
    }
}

@media screen and (max-width: 364px){
    .main{
        padding-top: 10px;
    }
    .body-in{
        margin-left: 1%;
        display: inline-block;
    }
    .content-body .tag{
        text-align: left;
        margin-bottom: 40px;
    }
    .content-body .right-side{
        margin-top: -220px;
    }
    .content-body .details{
        text-align: left;
        margin-bottom: 40px;
    }
}