$ashLight: #F7F8FA;
$blueLight: #1875F0;
$white: #FFFFFF;
$ashDark: #EAEEF0;
$blackLight: #787C90;
$blackMedium: #414042;
$blackDark: #262626;



*{
    box-sizing: border-box;
}

body {
    font-size: .875rem;
    background: #F7F8FA;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}


/*
 * Content
 */

[role="main"] {
  padding-top: 100px; /* Space for fixed navbar */
}

/* Navbar Starts Here */

.navbar{
    padding: 2px 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);

}

.mr-right li{
    margin: 10px 20px -3px 0px;
}

.form{
    display: inline-block;
}

.navbar .logo{
    margin-right: 2.7em;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -1.6875px;
    color: #1875F0;
}

.search-nav-icon{
    margin-top: -3px;
    margin-right: 2px;
    width: 14px;
}

input[type="text"]{
    background: transparent;
    border: none;
    font-size: 0.95rem;
    color: #000;
    padding: 5px;
    font-weight: 200;
}
input:focus, textarea:focus{
    outline: none;
}

.notif-nav-icon{
    margin-top: -3px;
    margin-right: -23px;
    width: 22px;
}
.mr-right a .circle{
    display: inline-block;
    background-color: #1875F0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 4px;
    left: 16px;
}
.mr-right li #notification{
    color: #fff !important;
}

.user-info{
    position: absolute;
    margin: -10px;
    padding: 0;
    display: inline-block;
}
.hello{
    position: absolute;
    top: 2px;
    left: 8px;
    font-size: 0.7rem;
}
.user-name{
    position: relative;
    bottom: -3px;
    font-size: 0.9rem;
    font-weight: 500;
}

.mr-right a .user-img{
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: -5px;
}
.user-img img{
    width: 35px;
    height: 35px;
}

/* Navbar Ends Here */

/*Side Menu Starts Here*/

.sidenav {
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 90px;
    background: #ffffff;
    transition: 0.1s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 36px;
    padding-top: 33px;
    padding-right: 6px;
    display: none;
}
.sidenav .closebtn:hover{
    padding: 0px;
    margin: 33px 6px 0px 30px;
    background-color: #fff;
}

.open-sidenav{
    position: sticky;
    color: #1875F0;
    font-size: 25px;
    z-index: 2000;
    top: 3px;
    left: 10px;
    margin-top: -57px;
    margin-bottom: 20px;
    display: none;
}

.tab-sect{
    margin-bottom: 15px;
}
.tab-sect .head-tag{
    padding-left: 15px;
    font-size: 0.9rem;
    color: #647787;
}
.tab-sect p{
    margin-bottom: 10px;
}
.tab-sect hr, .sidenav hr{
    margin-top: 0px;
    margin-bottom: 15px;
    height: 2px;
    background-color: #647787;
    opacity: 0.2;
}

.sidenav .veri-tra-btn{
    position: relative;
    background: #27AE60;
    width: 80%;
    left: 20px;
    margin-bottom: 10px;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 0.3px;
    transition: all 0.2s ease-in-out;
}
.sidenav .veri-tra-btn:hover{
    background: #27AE60;
    padding: 10px 10px 10px 10px;
    font-weight: 700;
    letter-spacing: 0.3px;
    transition: all 0.2s ease-in-out;
}

.sidenav a{
    display: block;
    color: #647787;
    text-decoration: none;
    padding: 10px 15px;
    padding-right: 0px;
    font-size: 0.845rem;
    transition: all 0.3s ease-in-out;
}
.sidenav a.active{
    background: rgb(24,117,240, 0.1);
    border-left: 4px solid #1875F0;
    padding: 10px 30px 10px 10px;
}
.sidenav a.active:hover{
    padding: 10px 30px 10px 10px;
}
.sidenav a:hover{
    background: rgb(24,117,240, 0.1);
    transition: all 0.3s ease-in-out;
    padding: 10px 10px 10px 20px;
}

.sidenav a img{
    margin-top: -5px;
    margin-right: 10px;
    width: 24px;
}
.sidenav a .pen-ord, .sidenav a .recon-ord{
    width: 29px;
    height: 26px;
    margin-right: 5px;
}

.sidenav .notif,.sidenav .tab-resp,.sidenav .log-out,.sidenav hr{
    display: none;
}

/*Side Menu Ends Here*/



/*Main Page Starts Here*/

.main{
    margin-left: 209px; /* Same as the width of the sidenav */
    padding: 0px 10px;
    padding-top: 60px;
    padding-left: 25px;
    width: 83%;
}

.open-sidenav{
    position: absolute;
    color: #1875F0;
    font-size: 25px;
    z-index: 1;
}

.tra-pay-ver{
    margin-left: 80px;
}

.tra-pay-content {
    background: #fff;
    margin: 0px 80px;
    padding: 40px;
    height: 125%;
}

.tra-pay-content .ple-ent-the{
    text-align: center;
    color: #4F4F4F;
    font-weight: 450;
    font-size: 1.05em;
    letter-spacing: 0.3px;
}

#tra-form {
    text-align: center;
    position: relative;
    margin-top: 30px;
    width: 100%;
}

#tra-form fieldset {
    border: 0 none;
    border-radius: 0px;
    box-sizing: border-box;

    /*stacking fieldsets above each other*/
    position: relative;
    width: 35%;
    left: 32.55%;
}

#tra-form .fields{
    position: relative;
    padding: 0px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

#tra-form fieldset .fields .veri-field{
    cursor: default;
    margin: 0;
    padding: 15px 0px;
    border: 1px solid #CCCFD4;
    border-radius: 5px;
}

#tra-form input.verify {
    display: inline-block;
    width: 10%;
    height: 28px;
    line-height: 30px;
    text-align: center;
    font-size: 1.3em;
    color: #414042;
    border: 0;
    border-bottom: 1.5px solid #414042;
    border-radius: 1px 1px 0 0;
    cursor: text;
    margin: 0;
    margin-top: -10px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 0;
}
#tra-form input.verify:focus{
    border-bottom: 1.5px solid #1875F0;
}

#tra-form .action-button {
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: -20px;
    padding: 1rem 2.5rem;
    font-weight: 500;
    color: #fff;
    background: #1875F0;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,.01);
}

#tra-form .action-button:hover, #tra-form .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #1875F0;
}

#tra-form .sec-pg-nxt, #tra-form .sec-pg-sub{
    width: 100%;
    float: right;
}

.go-to{
    position: absolute;
    padding-top: 50px;
}

/*Main Page Ends Here*/