*{
    box-sizing: border-box;
}

*:focus {
    outline:none !important
}

body {
    font-size: .875rem;
    background: transparent;
}



/* Navbar Starts Here */

.navbar{
    padding: 2px 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);

}

.mr-right li{
    margin: 10px 20px -3px 0px;
}

.form{
    display: inline-block;
}

.navbar .logo{
    margin-right: 2.7em;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -1.6875px;
    color: #1875F0;
}

.search-nav-icon{
    margin-top: -3px;
    margin-right: 2px;
    width: 14px;
}

input[type="text"]{
    background: transparent;
    border: none;
    font-size: 0.95rem;
    color: #000;
    padding: 5px;
    font-weight: 200;
}
input:focus, textarea:focus{
    outline: none;
}

.notif-nav-icon{
    margin-top: -3px;
    margin-right: -23px;
    width: 22px;
}
.mr-right a .circle{
    display: inline-block;
    background-color: #1875F0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 4px;
    left: 16px;
}
.mr-right li #notification{
    color: #fff !important;
}

.user-info{
    position: absolute;
    margin: -10px;
    padding: 0;
    display: inline-block;
}
.hello{
    position: absolute;
    top: 2px;
    left: 8px;
    font-size: 0.7rem;
}
.user-name{
    position: relative;
    bottom: -3px;
    font-size: 0.9rem;
    font-weight: 500;
}

.mr-right a .user-img{
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: -5px;
}
.user-img img{
    width: 35px;
    height: 35px;
}

/* Navbar Ends Here */


/*Section 1 Starts Here*/
.main{
    margin: 0;
    padding: 0;
    margin-top: 40px;
    margin-left: 26.2%;
    margin-right: 26.2%;
    padding: 40px;
    background: #F8F9FA;
    width: 600px;
}

.main .vela-logo{
    width: 213px;
    margin-left: 30%;
}

.inner{
    margin-top: 30px;
    background: #FFFFFF;
    border-top: 5px solid #0678D4;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 30px;
}

.checkmark{
    width: 52px;
    margin-top: 10px;
    margin-left: 45%;
}

.acc-created{
    color: #0678D4;
    font-size: 1.05em;
    font-weight: 650;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}

.hi-smil{
    color: #333333;
    font-weight: 450;
    margin: 0;

}

.your-acc-has{
    color: #333333;
    margin: 0;
}

.inner hr{
    background: #E0E0E0;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

.log-details{
    margin: 0;
    text-align: center;
    font-weight: 600;
    color: #333333;
}

.inner-det{
    margin: 60px 80px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #F8F9FA;
    border-radius: 3px;
    padding: 20px 35px;
}

.inner-det p{
    color: #797777;
    font-weight: 450;
}
.inner-det p .text-det{
    float: right;
}

.login-to-acc{
    background: #0678D4;
    border-radius: 3px;
    color: #fff;
    font-weight: 450;
    width: 100%;
    padding: 8px;
    border: none;
    cursor: pointer;
}

.footer{
    background: #EBF1F8;
    margin: 0;
    margin-left: -40px;
    margin-right: -40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer .left{
    padding-left: 90px;
}

.footer i{
    margin-top: 45px;
    margin-right: 30px;
    font-size: 1.3em;
    color: rgba(6, 120, 212, 0.7);
}

.footer .right{
    padding: 0;
}

.footer .right p{
    margin: 0;
    padding: 20px;
}



/*Responsiveness Starts Here*/
@media screen and (max-width: 1208px){
    .main{
        margin-left: 23.2%;
    }
}

@media screen and (max-width: 1050px){
    .main{
        margin-left: 18.2%;
    }
}

@media screen and (max-width: 900px){
    .main{
        margin-left: 15.2%;
    }
}

@media screen and (max-width: 830px){
    .main{
        margin-left: 13.2%;
    }
}

@media screen and (max-width: 780px){
    .main{
        margin-left: 11%;
    }
}

@media screen and (max-width: 768px){
    .footer .left{
        padding-left: 40px;
    }

    .footer .right{
        margin-top: -65px;
        margin-right: 20px;
    }

    .footer .right p{
        text-align: right;
    }
}

@media screen and (max-width: 750px){
    .main{
        margin-left: 9%;
    }
}

@media screen and (max-width: 720px){
    .main{
        margin-left: 7%;
    }
}

@media screen and (max-width: 690px){
    .main{
        margin-left: 5%;
    }
}

@media screen and (max-width: 660px){
    .main{
        margin-left: 3%;
    }
}

@media screen and (max-width: 640px){
    .main{
        margin-left: 10.7%;
        width: 500px;
    }
    
    .main .vela-logo{
        width: 213px;
        margin-left: 26%;
    }
    
    .checkmark{
        width: 52px;
        margin-top: 10px;
        margin-left: 43%;
    }
    
    .inner-det{
        margin: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
        background: #F8F9FA;
        border-radius: 3px;
        padding: 20px 25px;
    }
}

@media screen and (max-width: 624px){
    .main{
        margin-left: 9%;
    }
}

@media screen and (max-width: 595px){
    .main{
        margin-left: 7%;
    }
}

@media screen and (max-width: 575px){
    .main{
        margin-left: 6%;
    }
}

@media screen and (max-width: 560px){
    .main{
        margin-left: 4.5%;
    }
}

@media screen and (max-width: 545px){
    .main{
        margin-left: 12.7%;
        width: 400px;
    }
    
    .main .vela-logo{
        width: 213px;
        margin-left: 16%;
    }
    
    .checkmark{
        width: 52px;
        margin-top: 10px;
        margin-left: 39%;
    }
    
    .inner-det{
        margin: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
        background: #F8F9FA;
        border-radius: 3px;
        padding: 20px 25px;
    }
    
    .footer .left{
        margin-top: -20px;
        text-align: center;
    }

    .footer .right{
        margin: 0;
    }

    .footer .right p{
        text-align: center;
    }
}

@media screen and (max-width: 520px){
    .main{
        margin-left: 11%;
    }
}

@media screen and (max-width: 500px){
    .main{
        margin-left: 9%;
    }
}

@media screen and (max-width: 480px){
    .main{
        margin-left: 7%;
    }
}

@media screen and (max-width: 460px){
    .main{
        margin-left: 5.5%;
    }
}

@media screen and (max-width: 447px){
    .main{
        margin-left: 12.5%;
        width: 330px;
    }
    
    .main .vela-logo{
        width: 170px;
        margin-left: 16%;
    }
    
    .checkmark{
        width: 38px;
        margin-top: 10px;
        margin-left: 39%;
    }
    
    .acc-created{
        margin-top: 10px;
    }
    
    .inner-det{
        margin: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
        background: #F8F9FA;
        border-radius: 3px;
        padding: 20px 25px;
    }
    
    .inner-det p{
        color: #797777;
        font-weight: 450;
        display: inline-block;
    }
    .inner-det .text-det{
        margin-top: 20px;
        margin-left: -37px;
    }
    .inner-det .text-det-2{
        margin-top: 0;
        margin-left: 5px;
    }

    .login-to-acc{
        background: #0678D4;
        border-radius: 3px;
        color: #fff;
        font-weight: 450;
        width: 100%;
        padding: 8px;
        border: none;
        cursor: pointer;
    }
    
    .footer .left{
        margin-top: -20px;
        text-align: center;
    }

    .footer .right{
        margin: 0;
    }

    .footer .right p{
        text-align: center;
    }
}

@media screen and (max-width: 420px){
    .main{
        margin-left: 10%;
        width: 330px;
    }
}

@media screen and (max-width: 400px){
    .main{
        margin-left: 8%;
        width: 330px;
    }
}

@media screen and (max-width: 385px){
    .main{
        margin-left: 6%;
        width: 330px;
    }
}

@media screen and (max-width: 370px){
    .main{
        margin-left: 4.5%;
        width: 330px;
    }
}

@media screen and (max-width: 358px){
    .main{
        margin-left: 3%;
        width: 330px;
    }
}

@media screen and (max-width: 358px){
    .main{
        margin-left: 3%;
        width: 330px;
    }
}

@media screen and (max-width: 345px){
    .main{
        margin-left: 2%;
        width: 330px;
    }
}

@media screen and (max-width: 340px){
    .main{
        margin-left: 1%;
        width: 330px;
    }
}

@media screen and (max-width: 335px){
    .main{
        margin-left: 0;
        width: 330px;
    }
}