@font-face{
    font-family: 'CircularStd-Book';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/CircularStd-Book.woff") format("opentype");
}

*{
    box-sizing: border-box;
}

*:focus {
    outline:none !important;
}

body {
    font-family: "CircularStd-Book", Arial, sans-serif;
    font-size: .875rem;
    background: #F7F8FA;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}


/*
 * Content
 */

[role="main"] {
  padding-top: 100px; /* Space for fixed navbar */
}

/* Navbar Starts Here */

.navbar{
    padding: 2px 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);

}

.mr-right li{
    margin: 10px 20px -3px 0px;
}

.form{
    display: inline-block;
}

.navbar .logo{
    margin-right: 2.7em;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -1.6875px;
    color: #1875F0;
}

.search-nav-icon{
    margin-top: -3px;
    margin-right: 2px;
    width: 14px;
}

input[type="text"]{
    background: transparent;
    border: none;
    font-size: 0.95rem;
    color: #000;
    padding: 5px;
    font-weight: 200;
}
input:focus, textarea:focus{
    outline: none;
}

.notif-nav-icon{
    margin-top: -3px;
    margin-right: -23px;
    width: 22px;
}
.mr-right a .circle{
    display: inline-block;
    background-color: #1875F0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 4px;
    left: 16px;
}
.mr-right li #notification{
    color: #fff !important;
}

.user-info{
    position: absolute;
    margin: -10px;
    padding: 0;
    display: inline-block;
}
.hello{
    position: absolute;
    top: 2px;
    left: 8px;
    font-size: 0.7rem;
}
.user-name{
    position: relative;
    bottom: -3px;
    font-size: 0.9rem;
    font-weight: 500;
}

.mr-right a .user-img{
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: -5px;
}
.user-img img{
    width: 35px;
    height: 35px;
    margin-left: 7px;
}

/* Navbar Ends Here */


/* Overlay */
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.55); /* Black background with opacity */
  z-index: 2000; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}


/*Side Menu Starts Here*/

.sidenav {
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 90px;
    background: #ffffff;
    transition: 0.1s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 36px;
    padding-top: 33px;
    padding-right: 6px;
    display: none;
}
.sidenav .closebtn:hover{
    padding: 0px;
    margin: 33px 6px 0px 30px;
    background-color: #fff;
}

.open-sidenav{
    position: sticky;
    color: #1875F0;
    font-size: 25px;
    z-index: 2000;
    top: 3px;
    left: 10px;
    margin-top: -57px;
    margin-bottom: 20px;
    display: none;
}

.tab-sect{
    margin-bottom: 35px;
}
.tab-sect .head-tag{
    padding-left: 15px;
    font-size: 0.9rem;
    color: #647787;
    margin-top: 0px;
}
.tab-sect p{
    margin-bottom: 10px;
    margin-top: 30px;
}
.tab-sect hr, .sidenav hr{
    margin-top: 0px;
    margin-bottom: 15px;
    height: 2px;
    background-color: #647787;
    opacity: 0.2;
}

.sidenav .veri-tra-btn{
    position: relative;
    background: #27AE60;
    width: 80%;
    left: 20px;
    margin-bottom: 10px;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 0.3px;
    transition: all 0.2s ease-in-out;
}

.sidenav .veri-tra-btn:hover{
    background: #27AE60;
    padding: 10px 10px 10px 15px;
    letter-spacing: 0.3px;
    transition: all 0.2s ease-in-out;
}

.sidenav .veri-tra-btn.active{
    background: #27AE79;
    padding: 10px 10px 10px 10px;
    font-weight: 700;
    letter-spacing: 0.3px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.sidenav .veri-tra-btn.active:hover{
    padding: 10px 10px 10px 10px;
}


.sidenav a{
    display: block;
    color: #647787;
    text-decoration: none;
    padding: 10px 15px;
    padding-right: 0px;
    font-size: 0.845rem;
    transition: all 0.3s ease-in-out;
}
.sidenav a.active{
    background: rgb(24,117,240, 0.1);
    border-left: 4px solid #1875F0;
    padding: 10px 30px 10px 10px;
}
.sidenav a.active:hover{
    padding: 10px 30px 10px 10px;
}
.sidenav a:hover{
    background: rgb(24,117,240, 0.1);
    transition: all 0.3s ease-in-out;
    padding: 10px 10px 10px 20px;
}

.sidenav a img{
    margin-top: -5px;
    margin-right: 10px;
    width: 24px;
}
.sidenav a .settings-img{
    width: 32px;
    margin-right: 5px;
    margin-left: -3px;
}

.sidenav a.merc-prof:hover{
    transition: all 0.2s ease-in-out;
    padding: 10px 10px 6px 20px;
}

.sidenav a .pen-ord, .sidenav a .recon-ord{
    width: 29px;
    height: 26px;
    margin-right: 5px;
}

.sidenav .notif,.sidenav .tab-resp,.sidenav .log-out,.sidenav hr{
    display: none;
}
.log-out{
    margin-bottom: 30px;
}

/*Side Menu Ends Here*/


/*Dashboard Starts Here*/

.main{
    margin: 0;
    margin-right: 10px;
    margin-left: 210px; /* Same as the width of the sidenav */
    padding: 0px;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 10px;
}

.open-sidenav{
    position: absolute;
    color: #1875F0;
    font-size: 25px;
    z-index: 1;
}

/*Section 1 Starts Here*/

.payments-head{
    padding-top: 35px;
}

/*Section 1 Ends Here*/

/*Section 3 Starts Here*/
.paym-sub-line{
    margin-top: 25px;
    margin-bottom: 20px;
}
.paym-sub{
    display: flex;
    padding: 0;
}

.show-entries span{
    display: inline-flex;
    font-weight: 500;
    font-size: 1em;
}

.box, .box-drop{
  position: relative;
}

.box .fa-chevron-down{
    position: relative;
    z-index: -1;
    margin-left: -20px;
    color: #CCCFD4;
}

.box-drop select{
    background-color: transparent;
    border: none;
    margin: 0px 5px;
    margin-top: -1px;
    margin-right: -8px;
    color: #1875F0;
    font-size: 1.1em;
    font-weight: 500;
    width: 35px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    cursor: pointer;
}

.box-drop .fa-chevron-down{
    position: relative;
    z-index: -1;
    margin-left: -12px;
    margin-right: 5px;
    color: #CCCFD4;
    font-size: 0.9em;
}

.box-drop option{
    color: 4c4c4c !important;
}

.show-entries .out-of{
    font-size: 1em;
}

.show-entries .show-out-of{
    margin: 0;
    padding-left: 3px;
    padding-right: 4px;
}
.show-entries .dropdown button:hover{
    background-color: #F7F8FA;
}

.sear-pay{
    padding: 0;
    margin-top: -5px;
}
.sear-pay-icon{
    width: 0.9em;
}
.sear-pay input{
    font-size: 1em;
    padding-bottom: 1px;
    width: 70%;
    border-bottom: 1px solid #787878;
}

.banks-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 97%;
    margin-top: 40px;
    margin-left: 0;
}

.bank-tab{
    background: #fff;
    padding: 20px;
}

.bank-tab .tab-head{
    display: inline-flex;
}

.bank-tab .tab-head img{
    width: 45px;
    height: 45px;
    margin-right: 20px;
}

.bank-tab .tab-head p{
    margin-top: 15px;
}

.bank-tab .dropdown{
    position: relative;
    margin-top: -50px;
    margin-bottom: 30px;
    margin-left: 97%;
}

.banks-row .dropdown-toggle::after{
    display: none !important;
}

.banks-row .dropdown button{
    background: transparent !important;
    padding: 0;
    border: none;
}

.banks-row .dropdown i{
    color: #4c4c4c;
    margin-left: 0px;
    padding: 0 5px;
}

.banks-row .dropdown-menu{
    padding: 0;
    margin-left: -140px;
}

.banks-row .dropdown-item{
    padding-left: 10px;
    padding-right: 0px;
}

.tab-foot{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 105%;
    margin-top: 15px;
}

.tab-foot .tab-info-end{
    margin-right: 0px !important;
}

.tab-foot .head-tag{
    color: #7F8FA4;
    margin: 0;
    margin-bottom: 5px;
}

.tab-foot .detail{
    color: #414042;
    margin: 0;
}

.tab-foot .operational-text{
    color: #27AE60;
}

.tab-footer .left{
    margin-top: 30px;
}

.tab-footer .right{
    margin-top: -25px;
}




/* Responsive Page Starts Here*/

@media screen and (min-width: 1555px) {

    .banks-row{
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (max-width: 1255px) {
    
    .box, .box-drop{
        width: 45px;
    }

    .box-drop .fa-chevron-down{
        margin-left: -11px;
    }
    
    .show-entries .out-of{
        width: 3em;
    }
    
}

@media screen and (max-width: 1180px) {
    
    .box, .box-drop{
        width: 45px;
    }

    .box-drop .fa-chevron-down{
        margin-left: -11px;
    }
    
    .show-entries .out-of{
        width: 3em;
    }

}

@media screen and (max-width: 1096px) {
    .banks-row{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 1085px) {
    
    .box, .box-drop{
        width: 45px;
    }

    .box-drop .fa-chevron-down{
        margin-left: -11px;
    }

}

@media screen and (max-width: 1045px){
    
    .paym-sub{
        display: block;
        font-size: 1.2em;
        margin-top: 0px;
    }
    
    .box, .box-drop{
        width: 50px;
    }

    .box-drop .fa-chevron-down{
        margin-left: -8px;
    }
    
    .show-entries .out-of{
        width: 3em;
    }
    
    .sear-pay{
        margin-top: 12px;
        margin-left: 15px;
        margin-bottom: 5px;
    }
    .sear-pay-icon{
        width: 0.9em;
    }
    
    .sear-pay input{
        width: 89%;
    }

}

@media (min-width: 993px) and (max-width: 1008px){
    
    .paym-sub{
        display: block;
        font-size: 1.2em;
        margin-top: 0px;
    }
    
    .box, .box-drop{
        width: 50px;
    }

    .box-drop .fa-chevron-down{
        margin-left: -8px;
    }
    
    .show-entries .out-of{
        width: 3em;
    }
    
    .sear-pay{
        margin-top: 12px;
        margin-left: 15px;
        margin-bottom: 5px;
    }
    .sear-pay-icon{
        width: 0.9em;
    }
    
    .sear-pay input{
        width: 89%;
    }

}


@media (min-width: 953px) and (max-width: 992px) {
    
    .paym-sub{
        display: block;
        font-size: 1.2em;
        margin-top: 0px;
    }
    
    .box, .box-drop{
        width: 50px;
    }

    .box-drop .fa-chevron-down{
        margin-left: -8px;
    }
    
    .show-entries .out-of{
        width: 3em;
    }
    
    .sear-pay{
        margin-top: 12px;
        margin-left: 15px;
        margin-bottom: 5px;
    }
    .sear-pay-icon{
        width: 0.9em;
    }
    
    .sear-pay input{
        width: 89%;
    }
    
    #myBtnContainer{
        margin-top: 15px;
        margin-bottom: 5px;
        margin-left: 0px;
        width: 200%;
    }
    
    .table{
        width: 123%;
    }
}

@media (min-width: 819px) and (max-width: 952px){
    
    .paym-sub{
        display: block;
        font-size: 1.2em;
        margin-top: 0px;
    }
    
    .box, .box-drop{
        width: 50px;
    }

    .box-drop .fa-chevron-down{
        margin-left: -8px;
    }
    
    .show-entries .out-of{
        width: 3em;
    }
    
    .sear-pay{
        margin-top: 12px;
        margin-left: 15px;
        margin-bottom: 5px;
    }
    .sear-pay-icon{
        width: 1em;
    }
    
    .sear-pay input{
        width: 89%;
        font-size: 1.1em;
    }
    
}

@media screen and (max-width: 874px){
    
    .navbar-toggler{
        display: none;
    }
    
    .navbar .logo{
        margin-left: 30px;
    }
    
    .navbar-nav{
        display: none;
    }
    
    .sidenav{
        width: 0px;
        padding-top: 75px;
        z-index: 2001;
    }
    .sidenav a:hover{
        padding: 10px 0px 10px 15px;
    }
    
    /* Position and style the close button (top right corner) */
    .sidenav .closebtn{
        display: block;
        padding-top: 0px;
    }
    .sidenav .closebtn:hover{
        margin: 33px 6px 0px 30px;
    }

    .open-sidenav{
        position: sticky;
        top: 5.5px;
        font-size: 1.7em;
        z-index: 2000;
        display: block;
        cursor: pointer;
        color: #647787;
        width: 23px;
    }
    
    .sidenav .veri-tra-btn{
        left: 10px;
        width: 215px;
        margin-bottom: 20px;
        margin-top: -10px;
    }

    .sidenav .tab-sect{
        margin-bottom: 30px;
    }

    .sidenav .tab-sect .head-tag{
        margin-top: 20px;
    }
    
    
    .sidenav .notif,.sidenav .tab-resp,.sidenav .log-out,.sidenav hr{
        display: block;
    }
    
    .main{
        margin-left: 0px; /* Same as the width of the sidenav */
        margin-right: 5px;
    }

    .payments-head{
        margin-top: -15px;
    }
    
    .paym-sub{
        display: block;
        font-size: 1.2em;
    }
    
    .box, .box-drop{
        width: 50px;
    }

    .box-drop .fa-chevron-down{
        margin-left: -8px;
    }
    
    .show-entries .out-of{
        width: 3em;
    }
    
    .sear-pay{
        margin-top: 12px;
        margin-left: 15px;
        margin-bottom: 5px;
    }
    .sear-pay-icon{
        width: 0.9em;
    }
    
    .sear-pay input{
        width: 89%;
    }

}


@media screen and (max-width: 767px){
    
    .banks-row{
        width: 100%;
    }
    
}

@media screen and (max-width: 767px){
    
    .main{
        margin-right: 0px;
    }
    
}

@media screen and (max-width: 460px){
    .main{
        padding-right: 0px;
    }
    
    .sear-pay input{
        width: 80%;
    }

    .banks-row{
        width: 102%;
    }

    .tab-foot{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        width: 105%;
        margin-top: 15px;
    }
    
    .tab-footer .right{
        float: left;
        margin-top: 15px;
    }
    
}

@media screen and (max-width: 349px){
    
    .tab-footer .right{
        margin-top: 20px;
    }
}

/* Responsive Page Endss Here*/